openapi: 3.2.0
info:
  title: REST API. Change Owner API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: ChangeOwner
paths:
  /v1/change_owner/{entity_id}:
    put:
      tags:
      - ChangeOwner
      summary: '# Handler to update of owner for any entity'
      description: 'Allowed Role(s): admin

        Note: admin can change owner only for Roles in AO'
      operationId: changeOwnerUpdateRequest
      parameters:
      - name: entity_id
        in: path
        description: The entityID of entity
        required: true
        schema:
          type: string
          x-go-name: EntityID
        x-go-name: EntityID
      requestBody:
        description: The change owner to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOwnerRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An ChangeOwnerResponse response model


            # This is used for returning a response for change owner of entity as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeOwnerRequest'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
components:
  schemas:
    ChangeOwnerRequest:
      title: ChangeOwnerRequest ...
      required:
      - base_type
      - owner
      type: object
      properties:
        base_type:
          type: string
          description: BaseType of entity
          x-go-name: BaseType
        owner:
          type: string
          description: Owner ID of the entity
          x-go-name: Owner
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
