openapi: 3.2.0
info:
  title: REST API. Ratings API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: Ratings
paths:
  /v1/ratings:
    post:
      tags:
      - Ratings
      summary: Create rating.
      description: This endpoint allows users to add a rating.
      operationId: ratingCreateRequest
      requestBody:
        description: The rating to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingPostRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'A GetRatingResponse response model


            # This is used for returning a response of rating as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '401':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/ratings/loginuser:
    post:
      tags:
      - Ratings
      summary: Handler to get rating for logged in user.
      description: 'Allowed Role(s): admin, user, sat'
      operationId: ratingLoginUserPostRequest
      requestBody:
        description: The request body to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingLoginUserRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'A GetRatingResponse response model


            # This is used for returning a response of rating as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '401':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/ratings/{rating_id}:
    put:
      tags:
      - Ratings
      summary: Handler to update rating object's information using rating ID.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have atleast MODIFY permission for rating'
      operationId: readRatingByIDParams
      parameters:
      - name: rating_id
        in: path
        description: The ratingID of rating
        required: true
        schema:
          type: string
          x-go-name: RatingID
        x-go-name: RatingID
      requestBody:
        description: The rating of xchange
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingPutRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'A GetRatingResponse response model


            # This is used for returning a response of rating as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
components:
  schemas:
    RatingResponse:
      title: A RatingResponse model.
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        id:
          type: string
          x-go-name: RatingID
        rating:
          type: integer
          format: uint8
          x-go-name: Rating
        ref_base_type:
          type: string
          x-go-name: RefBaseType
        ref_id:
          type: string
          x-go-name: RefID
        ref_object_type:
          $ref: '#/components/schemas/LHObjType'
        type:
          type: string
          x-go-name: Type
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    LHObjType:
      title: LHObjType generated on 2024-06-14T11:01:04+05:30. DO NOT EDIT.
      type: string
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/mdb-maps/entity
    RatingPutRequest:
      title: RatingPutRequest
      type: object
      properties:
        rating:
          type: integer
          format: uint8
          x-go-name: Rating
      description: The rating update request model.
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    RatingPostRequest:
      title: RatingPostRequest
      required:
      - rating
      - ref_base_type
      - ref_id
      - ref_type
      type: object
      properties:
        rating:
          type: integer
          description: The Rating.
          format: uint8
          x-go-name: Rating
        ref_base_type:
          type: string
          description: The base type of the entity.
          x-go-name: RefBaseType
        ref_id:
          type: string
          description: The ID of the entity.
          x-go-name: RefID
        ref_type:
          type: string
          description: The type of the entity.
          x-go-name: RefType
      description: The rating create request model.
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    RatingLoginUserRequest:
      title: RatingLoginUserRequest ...
      required:
      - ref_id
      - ref_type
      type: object
      properties:
        ref_id:
          type: string
          description: ref id
          x-go-name: RefID
        ref_type:
          type: string
          description: ref type
          x-go-name: RefType
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
