openapi: 3.2.0
info:
  title: REST API. References API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: References
paths:
  /v1/references/{reference_id}:
    get:
      tags:
      - References
      summary: '# ReadReferences Handler to return information about references'
      description: 'Allowed Role(s): admin, user, sat'
      operationId: referenceRequest
      parameters:
      - name: reference_id
        in: path
        description: Reference ID
        required: true
        schema:
          type: string
          x-go-name: ReferenceID
        x-go-name: ReferenceID
      - name: base_type
        in: query
        description: Reference ID's base type
        required: true
        schema:
          type: string
          x-go-name: BaseType
        x-go-name: BaseType
      - name: uses
        in: query
        description: Return references which object uses
        schema:
          type: boolean
          x-go-name: Uses
        x-go-name: Uses
      - name: used_by
        in: query
        description: Return references in which object are used by
        schema:
          type: boolean
          x-go-name: UsedBy
        x-go-name: UsedBy
      responses:
        '200':
          description: 'ReferenceResponse response model


            This is used for returning a response with uses and/or usedby'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllReferences'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
components:
  schemas:
    ObjectReference:
      type: object
      properties:
        date:
          type: string
          format: date-time
          x-go-name: Date
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: ID
        name:
          type: string
          x-go-name: Name
        status:
          $ref: '#/components/schemas/Status'
        type:
          type: string
          x-go-name: Type
        version:
          type: string
          x-go-name: Version
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    State:
      type: string
      description: DefinitionState
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    Status:
      title: Status ...
      type: object
      properties:
        details:
          $ref: '#/components/schemas/StatusDetails'
        prev_state:
          $ref: '#/components/schemas/State'
        state:
          $ref: '#/components/schemas/State'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    StatusDetails:
      type: object
      properties:
        code:
          type: string
          x-go-name: Code
        description:
          type: string
          x-go-name: Description
        message:
          type: string
          x-go-name: Message
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    AllReferences:
      type: object
      properties:
        used_by:
          type: array
          items:
            $ref: '#/components/schemas/ObjectReference'
          x-go-name: UsedBy
        uses:
          type: array
          items:
            $ref: '#/components/schemas/ObjectReference'
          x-go-name: Uses
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
