{
  "openapi": "3.0.1",
  "info": {
    "title": "REST API.",
    "version": "1.0.0",
    "x-provenance": {
      "method": "harvested",
      "authored_by": "Cisco XDR",
      "harvested_by": "API Evangelist",
      "harvested_on": "2026-08-19",
      "first_party": true,
      "provider_published": true,
      "source_host": "visibility.amp.cisco.com",
      "note": "Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine."
    },
    "x-evidence": [
      {
        "type": "source",
        "url": "https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json"
      },
      {
        "type": "source",
        "url": "https://private.intel.amp.cisco.com/swagger.json"
      }
    ]
  },
  "servers": [
    {
      "url": "https://automate.us.security.cisco.com/{basePath}",
      "variables": {
        "basePath": {
          "default": "api"
        }
      }
    }
  ],
  "paths": {
    "/v1.1/instances": {
      "post": {
        "tags": [
          "WorkflowInstances"
        ],
        "summary": "Handler to get all Workflow Instances.",
        "description": "Allowed Role(s): admin, user, sat\nAllowed User(s): Who have atleast VIEW permission to given workflow",
        "operationId": "getAllWorkflowInstancesQueryParams",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "The state of workflow.",
            "schema": {
              "type": "string",
              "x-go-name": "State"
            },
            "x-go-name": "State"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term to filter workflow by workflow display name",
            "schema": {
              "type": "string",
              "x-go-name": "Search"
            },
            "x-go-name": "Search"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start return list of instances from the number specified",
            "schema": {
              "type": "integer",
              "format": "uint8",
              "x-go-name": "Start"
            },
            "x-go-name": "Start"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of workflow instances will return by this request, must between 0-100",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint8",
              "x-go-name": "Limit"
            },
            "x-go-name": "Limit"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Return instances that started on after this date or on this date, example date is 2019-05-19T00:00:00Z",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "DateFrom"
            },
            "x-go-name": "DateFrom"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Return instances that are started on before this date or on this date, example date is 2019-05-19T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "DateTo"
            },
            "x-go-name": "DateTo"
          }
        ],
        "requestBody": {
          "description": "An request body to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowsInstancePostRequest"
              }
            }
          },
          "required": false,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An WFInstanceResponse response model\n\n# This is used for returning a response with a workflow instance as body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WFInstancePaginationResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1.1/workflows": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Handler to get all workflows.",
        "description": "Allowed Role(s): admin, user, sat\nAllowed User(s): Who have atleast VIEW permission to given workflow\nMandatory Query Param: limit -> Non Negative limit.",
        "operationId": "getAllWorkflowsPostQueryParams",
        "parameters": [
          {
            "name": "is_atomic",
            "in": "query",
            "description": "Provide true to return only atomic workflows and false for non atomic. Skip to return all workflows.",
            "schema": {
              "type": "boolean",
              "x-go-name": "IsAtomic"
            },
            "x-go-name": "IsAtomic"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Comma separated list of search terms to filter based on workflow names",
            "schema": {
              "type": "string",
              "x-go-name": "Search"
            },
            "x-go-name": "Search"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma separated list of workflow states to filter",
            "schema": {
              "type": "string",
              "x-go-name": "State"
            },
            "x-go-name": "State"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of workflows to return for this request",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Limit"
            },
            "x-go-name": "Limit"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Return list of workflows from n'th workflow, n is start to be provided",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Start"
            },
            "x-go-name": "Start"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Return list of workflows in sorted order",
            "schema": {
              "type": "string",
              "x-go-name": "SortBy"
            },
            "x-go-name": "SortBy"
          },
          {
            "name": "from_playbook",
            "in": "query",
            "description": "Provided true to return all the workflows that have at least one observable_type added to them.",
            "schema": {
              "type": "boolean",
              "x-go-name": "FromPlaybook"
            },
            "x-go-name": "FromPlaybook"
          }
        ],
        "requestBody": {
          "description": "An request body to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowsPostRequest"
              }
            }
          },
          "required": false,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An WorkflowResponse response model\n\n# This is used for returning a response with a single workflow as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowGetAllPaginationResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1.1/workflows/start": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Handler to start workflow execution.",
        "description": "Allowed Role(s): admin\nAllowed User(s): Who have RUN permission to given workflow",
        "operationId": "startWorkflowRequestV1Dot1",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "query",
            "description": "ID of the Workflow, to start workflow using id. (Not allow to provide both of ID and UniqueName of Workflow)",
            "schema": {
              "type": "string",
              "x-go-name": "WorkflowID"
            },
            "x-go-name": "WorkflowID"
          },
          {
            "name": "unique_name",
            "in": "query",
            "description": "Unique Name of the Workflow, to start workflow using unique_name of it\n(Not allow to provide both of ID and UniqueName of Workflow)",
            "schema": {
              "type": "string",
              "x-go-name": "UniqueName"
            },
            "x-go-name": "UniqueName"
          },
          {
            "name": "sync",
            "in": "query",
            "description": "if true, starts workflow with sync.\nIf workflow execution takes more than 28 second, API returns the current status of the instance\nand workflow continue to run in the background\nAPI returns 200 Ok on successful completion of instance\nAPI return 201 Accepted if the workflow still in running state after 28 second",
            "schema": {
              "type": "boolean",
              "x-go-name": "Sync"
            },
            "x-go-name": "Sync"
          },
          {
            "name": "async",
            "in": "query",
            "description": "if true, workflow execution is processed asynchronously",
            "schema": {
              "type": "boolean",
              "x-go-name": "Async"
            },
            "x-go-name": "Async"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string",
                    "description": "Upload File\nSwagger UI supports only one file to upload\nIn case of multiple input file variables use separate rest client",
                    "format": "binary",
                    "x-go-name": "File"
                  },
                  "request_body": {
                    "type": "string",
                    "description": "The workflow to submit.\nPlease refer /v1/workflows/start API for request_body payload",
                    "x-go-name": "RequestBody"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An RunWorkflowResponse response model\n\n# This is used for returning a response of workflow as body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StartWorkflowResponse"
                  }
                }
              }
            }
          },
          "202": {
            "description": "An RunWorkflowResponse response model\n\n# This is used for returning a response of workflow as body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StartWorkflowResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "412": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      }
    },
    "/v1.2/workflows": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Handler to get all workflows.",
        "description": "Allowed Role(s): admin, user, sat\nAllowed User(s): Who have atleast VIEW permission to given workflow\nMandatory Query Param: limit -> Non Negative limit.",
        "operationId": "getAllWorkflowsPostQueryParamsV1Dot2",
        "parameters": [
          {
            "name": "is_atomic",
            "in": "query",
            "description": "Provide true to return only atomic workflows and false for non atomic. Skip to return all workflows.",
            "schema": {
              "type": "boolean",
              "x-go-name": "IsAtomic"
            },
            "x-go-name": "IsAtomic"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Comma separated list of search terms to filter based on workflow names",
            "schema": {
              "type": "string",
              "x-go-name": "Search"
            },
            "x-go-name": "Search"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma separated list of workflow states to filter",
            "schema": {
              "type": "string",
              "x-go-name": "State"
            },
            "x-go-name": "State"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of workflows to return for this request",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Limit"
            },
            "x-go-name": "Limit"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Return list of workflows from n'th workflow, n is start to be provided",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Start"
            },
            "x-go-name": "Start"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Return list of workflows in sorted order, supported values are 'updated_on' and 'atomic_group'",
            "schema": {
              "type": "string",
              "x-go-name": "SortBy"
            },
            "x-go-name": "SortBy"
          }
        ],
        "requestBody": {
          "description": "An request body to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowsPostRequest"
              }
            }
          },
          "required": false,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An WorkflowResponse response model\n\n# This is used for returning a response with a single workflow as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowGetAllPaginationResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Handler to get all calendars.",
        "description": "Allowed Role(s): admin, user, sat",
        "operationId": "listCalendars",
        "responses": {
          "200": {
            "description": "An CalendarResponse response model\n\n# This is used to return response with a single calendar as a body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarGetAllResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Handler to create a Calendar.",
        "description": "Allowed Role(s): admin\n\nEither ViewSchemaID or Type or both in request body can be provided to create a Calendar.",
        "operationId": "calendarCreateRequest",
        "requestBody": {
          "description": "The calendar to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarPostRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "201": {
            "description": "An CalendarDefinitonResponse response model\n\n# This is used to retutn a response of Calendar as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "409": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "422": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1/calendars/batch_get": {
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Handler to get all calendars paginated.",
        "description": "Allowed Role(s): admin, user, sat",
        "operationId": "getAllCalendarsParam",
        "responses": {
          "200": {
            "description": "An GetAllCalendarSwaggerResponse model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCalendarPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      }
    },
    "/v1/calendars/{calendar_id}": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Handler to get a specific calendar.",
        "description": "Allowed Role(s): admin, user, sat",
        "operationId": "getCalendarById",
        "parameters": [
          {
            "name": "calendar_id",
            "in": "path",
            "description": "The definitionId of calendar",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "CalndarID"
            },
            "x-go-name": "CalndarID"
          }
        ],
        "responses": {
          "200": {
            "description": "An CalendarDefinitonResponse response model\n\n# This is used to retutn a response of Calendar as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Calendars"
        ],
        "summary": "Handler to update calendar. Allows partial update",
        "description": "Allowed Role(s): admin",
        "operationId": "calendarUpdateRequest",
        "parameters": [
          {
            "name": "calendar_id",
            "in": "path",
            "description": "The definitionId of calendar",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "CalndarID"
            },
            "x-go-name": "CalndarID"
          }
        ],
        "requestBody": {
          "description": "The calendar to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarPutRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An CalendarDefinitonResponse response model\n\n# This is used to retutn a response of Calendar as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "422": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      },
      "delete": {
        "tags": [
          "Calendars"
        ],
        "summary": "Handler for delete calendar.",
        "description": "Allowed Role(s): admin",
        "operationId": "deleteCalendarById",
        "parameters": [
          {
            "name": "calendar_id",
            "in": "path",
            "description": "The definitionId of calendar",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "CalndarID"
            },
            "x-go-name": "CalndarID"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent response model",
            "content": {}
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "412": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      }
    },
    "/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Handler to get all Categories.",
        "description": "Allowed Role(s): admin, user, sat",
        "operationId": "listCategories",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of Category.",
            "schema": {
              "type": "string",
              "x-go-name": "Type"
            },
            "x-go-name": "Type"
          }
        ],
        "responses": {
          "200": {
            "description": "An CategoryResponse response model\n\n# This is used to return response with a single category as a body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryGetResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Handler to create a Category.",
        "description": "Allowed Role(s): admin\n\nEither ViewSchemaID or Type or both in request body can be provided to create a Category.",
        "operationId": "categoryCreateRequest",
        "requestBody": {
          "description": "The category to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryPostRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "201": {
            "description": "An CategoryDefinitonResponse response model\n\n# This is used to retutn a response of Category as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "409": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "422": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1/categories/{category_id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Handler to get a specific category.",
        "description": "Allowed Role(s): admin, user, sat",
        "operationId": "getCategoryById",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "description": "The definitionId of category",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "CategoryID"
            },
            "x-go-name": "CategoryID"
          }
        ],
        "responses": {
          "200": {
            "description": "An CategoryDefinitonResponse response model\n\n# This is used to retutn a response of Category as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Handler to update category. Allows partial update",
        "description": "Allowed Role(s): admin",
        "operationId": "categoryUpdateRequest",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "description": "The definitionId of category",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "CategoryID"
            },
            "x-go-name": "CategoryID"
          }
        ],
        "requestBody": {
          "description": "The category to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryPutRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An CategoryDefinitonResponse response model\n\n# This is used to retutn a response of Category as a body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "422": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Handler for delete Category.",
        "description": "Allowed Role(s): admin",
        "operationId": "deleteCategoryById",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "description": "The definitionId of category",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "CategoryID"
            },
            "x-go-name": "CategoryID"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent response model",
            "content": {}
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "412": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      }
    },
    "/v1/change_owner/{entity_id}": {
      "put": {
        "tags": [
          "ChangeOwner"
        ],
        "summary": "# Handler to update of owner for any entity",
        "description": "Allowed Role(s): admin\nNote: admin can change owner only for Roles in AO",
        "operationId": "changeOwnerUpdateRequest",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "description": "The entityID of entity",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "EntityID"
            },
            "x-go-name": "EntityID"
          }
        ],
        "requestBody": {
          "description": "The change owner to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeOwnerRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An ChangeOwnerResponse response model\n\n# This is used for returning a response for change owner of entity as body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeOwnerRequest"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1/comments": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create comment.",
        "description": "This endpoint allows users to add a comment.",
        "operationId": "commentCreateRequest",
        "requestBody": {
          "description": "The target to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentPostRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "201": {
            "description": "CommentResponse\n\nThis is used for returning a comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/comment"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "412": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1/comments/batch_get": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Get all comments.",
        "description": "This endpoint allows users to get all comments by filter.",
        "operationId": "getAllCommentsQueryParam",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of comments to return for this request",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Limit"
            },
            "x-go-name": "Limit"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Return list of comments from n'th comment, n is start to be provided",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Start"
            },
            "x-go-name": "Start"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Return list of comments in sorted order",
            "schema": {
              "type": "string",
              "x-go-name": "SortBy"
            },
            "x-go-name": "SortBy"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Return list of comments in sorted order of asc/desc",
            "schema": {
              "type": "string",
              "x-go-name": "Order"
            },
            "x-go-name": "Order"
          }
        ],
        "requestBody": {
          "description": "An request body to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentsPostRequestParams"
              }
            }
          },
          "required": false,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An GetAllCommentsSwaggerResponse model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "# Handler to get all events information",
        "description": "Allowed Role(s): admin, user, sat",
        "operationId": "GetAllEvents",
        "responses": {
          "200": {
            "description": "An EventsResponse response model\n\n# This is used for returning a response with a single event as body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "# Handler to create a event",
        "description": "Allowed Role(s): admin, user\n\nEither ViewSchemaID or Type or both in request body can be provided to create an Event.",
        "operationId": "EventCreateRequest",
        "requestBody": {
          "description": "The event to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventPostRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "201": {
            "description": "An EventResponse response model\n\n# This is used for returning a response with a single event as body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "409": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "readEventByID Handler to return Event infomration.",
        "description": "Allowed Role(s): admin, user, sat",
        "operationId": "GeEventByID",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "An ID of event",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "EventID"
            },
            "x-go-name": "EventID"
          }
        ],
        "responses": {
          "200": {
            "description": "An EventResponse response model\n\n# This is used for returning a response with a single event as body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "# Handler to update event",
        "description": "Allowed Role(s): admin",
        "operationId": "EventUpdateRequest",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "The eventID of Event",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "EventID"
            },
            "x-go-name": "EventID"
          }
        ],
        "requestBody": {
          "description": "The event to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventPutRequest"
              }
            }
          },
          "required": true,
          "x-go-name": "RequestBody"
        },
        "responses": {
          "200": {
            "description": "An EventResponse response model\n\n# This is used for returning a response with a single event as body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request_body"
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "# Handler to delete event",
        "description": "Allowed Role(s): admin",
        "operationId": "DeleteEventByID",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "An ID of event",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "EventID"
            },
            "x-go-name": "EventID"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent response model",
            "content": {}
          },
          "400": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "412": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "A Error is a swagger response to represent error",
            "headers": {
              "code": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "description": {
                "schema": {
                  "type": "string"
                }
              },
              "message": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        }
      }
    },
    "/v1/instances": {
      "get": {
        "tags": [
          "WorkflowInstances"
        ],
        "summary": "Handler to get all Workflow Instances.",
        "description": "Allowed Role(s): admin, user, sat\nAllowed User(s): Who have atleast VIEW permission to given workflow",
        "operationId": "listWorkflowInstancesV1",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "query",
            "description": "An ID of workflow.",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "WoprkflowID"
            },
            "x-go-name": "WoprkflowID"
          }
        ],
        "responses": {
          "200": {
            "description": "An WFInstanceResponseV1 response model\n\n# This is used for returning a response with a workflow instance as body",
            "content": {
              "application/json": {
[...]
