openapi: 3.2.0
info:
  title: REST API. Workflow Variable References API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: WorkflowVariableReferences
paths:
  /v1/workflows/{workflow_id}/references:
    get:
      tags:
      - WorkflowVariableReferences
      summary: Handler to return references for the workflow.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have VIEW permission to given workflow'
      operationId: workflowObjRefRequestQueryParams
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: action_id
        in: query
        description: The Id of Action
        schema:
          type: string
          x-go-name: ActionID
        x-go-name: ActionID
      - name: variable_id
        in: query
        description: The Id of Variable
        schema:
          type: string
          x-go-name: VariableID
        x-go-name: VariableID
      responses:
        '200':
          description: workflowObjRefResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflowObjRefResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
components:
  schemas:
    workflowObjRefResponse:
      title: WorkflowObjRefResponse response model.
      type: object
      properties:
        actions:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: 'in: body'
          x-go-name: Actions
      x-go-name: WorkflowObjRefResponse
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
