openapi: 3.2.0
info:
  title: REST API. Workflows API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: Workflows
paths:
  /v1.1/workflows:
    post:
      tags:
      - Workflows
      summary: Handler to get all workflows.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have atleast VIEW permission to given workflow

        Mandatory Query Param: limit -> Non Negative limit.'
      operationId: getAllWorkflowsPostQueryParams
      parameters:
      - name: is_atomic
        in: query
        description: Provide true to return only atomic workflows and false for non atomic. Skip to return all workflows.
        schema:
          type: boolean
          x-go-name: IsAtomic
        x-go-name: IsAtomic
      - name: search
        in: query
        description: Comma separated list of search terms to filter based on workflow names
        schema:
          type: string
          x-go-name: Search
        x-go-name: Search
      - name: state
        in: query
        description: Comma separated list of workflow states to filter
        schema:
          type: string
          x-go-name: State
        x-go-name: State
      - name: limit
        in: query
        description: Number of workflows to return for this request
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: start
        in: query
        description: Return list of workflows from n'th workflow, n is start to be provided
        schema:
          type: integer
          format: int64
          x-go-name: Start
        x-go-name: Start
      - name: sort_by
        in: query
        description: Return list of workflows in sorted order
        schema:
          type: string
          x-go-name: SortBy
        x-go-name: SortBy
      - name: from_playbook
        in: query
        description: Provided true to return all the workflows that have at least one observable_type added to them.
        schema:
          type: boolean
          x-go-name: FromPlaybook
        x-go-name: FromPlaybook
      requestBody:
        description: An request body to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowsPostRequest'
        required: false
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An WorkflowResponse response model


            # This is used for returning a response with a single workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetAllPaginationResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1.1/workflows/start:
    post:
      tags:
      - Workflows
      summary: Handler to start workflow execution.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have RUN permission to given workflow'
      operationId: startWorkflowRequestV1Dot1
      parameters:
      - name: workflow_id
        in: query
        description: ID of the Workflow, to start workflow using id. (Not allow to provide both of ID and UniqueName of Workflow)
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: unique_name
        in: query
        description: 'Unique Name of the Workflow, to start workflow using unique_name of it

          (Not allow to provide both of ID and UniqueName of Workflow)'
        schema:
          type: string
          x-go-name: UniqueName
        x-go-name: UniqueName
      - name: sync
        in: query
        description: 'if true, starts workflow with sync.

          If workflow execution takes more than 28 second, API returns the current status of the instance

          and workflow continue to run in the background

          API returns 200 Ok on successful completion of instance

          API return 201 Accepted if the workflow still in running state after 28 second'
        schema:
          type: boolean
          x-go-name: Sync
        x-go-name: Sync
      - name: async
        in: query
        description: if true, workflow execution is processed asynchronously
        schema:
          type: boolean
          x-go-name: Async
        x-go-name: Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: 'Upload File

                    Swagger UI supports only one file to upload

                    In case of multiple input file variables use separate rest client'
                  format: binary
                  x-go-name: File
                request_body:
                  type: string
                  description: 'The workflow to submit.

                    Please refer /v1/workflows/start API for request_body payload'
                  x-go-name: RequestBody
      responses:
        '200':
          description: 'An RunWorkflowResponse response model


            # This is used for returning a response of workflow as body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StartWorkflowResponse'
        '202':
          description: 'An RunWorkflowResponse response model


            # This is used for returning a response of workflow as body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StartWorkflowResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1.2/workflows:
    post:
      tags:
      - Workflows
      summary: Handler to get all workflows.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have atleast VIEW permission to given workflow

        Mandatory Query Param: limit -> Non Negative limit.'
      operationId: getAllWorkflowsPostQueryParamsV1Dot2
      parameters:
      - name: is_atomic
        in: query
        description: Provide true to return only atomic workflows and false for non atomic. Skip to return all workflows.
        schema:
          type: boolean
          x-go-name: IsAtomic
        x-go-name: IsAtomic
      - name: search
        in: query
        description: Comma separated list of search terms to filter based on workflow names
        schema:
          type: string
          x-go-name: Search
        x-go-name: Search
      - name: state
        in: query
        description: Comma separated list of workflow states to filter
        schema:
          type: string
          x-go-name: State
        x-go-name: State
      - name: limit
        in: query
        description: Number of workflows to return for this request
        required: true
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: start
        in: query
        description: Return list of workflows from n'th workflow, n is start to be provided
        schema:
          type: integer
          format: int64
          x-go-name: Start
        x-go-name: Start
      - name: sort_by
        in: query
        description: Return list of workflows in sorted order, supported values are 'updated_on' and 'atomic_group'
        schema:
          type: string
          x-go-name: SortBy
        x-go-name: SortBy
      requestBody:
        description: An request body to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowsPostRequest'
        required: false
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An WorkflowResponse response model


            # This is used for returning a response with a single workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetAllPaginationResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '401':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/workflows:
    get:
      tags:
      - Workflows
      summary: Handler to get all workflows.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have atleast VIEW permission to given workflow'
      operationId: getAllWorkflowsQueryParamsV1
      parameters:
      - name: is_atomic
        in: query
        description: Provide true if you need only atomic workflows.
        schema:
          type: boolean
          x-go-name: IsAtomic
        x-go-name: IsAtomic
      - name: categories
        in: query
        description: Comma separated list of category names to search for.
        schema:
          type: string
          x-go-name: Categories
        x-go-name: Categories
      responses:
        '200':
          description: 'An WorkflowResponseV1 response model


            # This is used for returning a response with a single workflow as a body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowDefinitionGetAllResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    post:
      tags:
      - Workflows
      summary: Handler to create a workflow definition.
      description: 'Allowed Role(s): admin


        Either ViewSchemaID or Type or both in request body can be provided to create a Workflow.'
      operationId: workflowCreateRequest
      requestBody:
        description: The request to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workflowDefinitionPostRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'A WorkflowDefinitonResponse model


            # This is used for returning a response of Workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflowDefinitionGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/workflows/batch_get:
    post:
      tags:
      - Workflows
      summary: '# Handler to retrieve a list of workflows'
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have view permission to the given list of workflows'
      operationId: workflowBatchGetPostRequest
      requestBody:
        description: List of workflows to retrieve
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An WorkflowBatchGetResponse response model


            # This is used for returning a response of list of workflows as body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowDefinitionGetAllResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/workflows/start:
    post:
      tags:
      - Workflows
      summary: Handler to start workflow execution.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have RUN permission to given workflow'
      operationId: startWorkflowRequest
      parameters:
      - name: workflow_id
        in: query
        description: ID of the workflow, to start workflow using id. (Not allow to provide both of ID and UniqueName of Workflow)
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: unique_name
        in: query
        description: 'Unique Name of the workflow, to start workflow using unique_name of it

          (Not allow to provide both of ID and UniqueName of Workflow)'
        schema:
          type: string
          x-go-name: UniqueName
        x-go-name: UniqueName
      - name: sync
        in: query
        description: 'if true, starts workflow with sync.

          If workflow execution takes more than 28 second, API returns the current status of the instance

          and workflow continue to run in the background

          API returns 200 Ok on successful completion of instance

          API return 201 Accepted if the workflow still in running state after 28 second'
        schema:
          type: boolean
          x-go-name: Sync
        x-go-name: Sync
      - name: async
        in: query
        description: if true, workflow execution is processed asynchronously
        schema:
          type: boolean
          x-go-name: Async
        x-go-name: Async
      requestBody:
        description: The workflow to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/startWorklfowPostRequestPayload'
        required: false
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An RunWorkflowResponse response model


            # This is used for returning a response of workflow as body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StartWorkflowResponse'
        '202':
          description: 'An RunWorkflowResponse response model


            # This is used for returning a response of workflow as body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StartWorkflowResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/workflows/start_config:
    get:
      tags:
      - Workflows
      summary: Handler to return required input parameters for the workflow.
      description: 'Allowed Role(s): admin, user

        Allowed User(s): Who have RUN permission to given workflow'
      operationId: workflowInputParams
      parameters:
      - name: workflow_id
        in: query
        description: The ID of Workflow (Not allow to provide both of ID and UniqueName of Workflow)
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: unique_name
        in: query
        description: The UniqueName of Workflow (Not allow to provide both of ID and UniqueName of Workflow)
        schema:
          type: string
          x-go-name: UniqueName
        x-go-name: UniqueName
      responses:
        '200':
          description: 'An StartWorklfowCfgResponse response model


            # This is used for returning a response of the workflow required parameters'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartWorklfowConfigResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/workflows/summary:
    get:
      tags:
      - Workflows
      summary: Handler to get a summary of workflows.
      description: 'Including total number of workflows, total number of validated workflows and total number of draft workflows

        Allowed Role(s): admin, user, sat

        Allowed User(s): Who have atleast VIEW permission to workflow'
      operationId: worklowSummaryQueryParam
      responses:
        '200':
          description: 'An GetWorkflowSummaryResponse model.


            # It will return a summary of workflows'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflowSummaryResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/workflows/{workflow_id}:
    get:
      tags:
      - Workflows
      summary: Handler to return workflow information using workflow ID.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have atleast VIEW permission to given workflow'
      operationId: getWorkflowById
      parameters:
      - name: workflow_id
        in: path
        description: This represents the identifier of the workflow, which can be either a ksuid or a unique name.
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      responses:
        '200':
          description: 'A WorkflowDefinitonResponse model


            # This is used for returning a response of Workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflowDefinitionGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    put:
      tags:
      - Workflows
      summary: Handler to update the workflow.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: workflowUpdateRequest
      parameters:
      - name: workflow_id
        in: path
        description: The Id of workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      requestBody:
        description: The request body to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowDefinitionPutRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'A WorkflowUpdateResponse model


            # This is used for returning a response of Workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionPutResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
    delete:
      tags:
      - Workflows
      summary: Handler to delete workflow using ID.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MANAGE permission to given workflow'
      operationId: deleteWorkflowById
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      responses:
        '202':
          description: 'A WorkflowDefinitonResponse model


            # This is used for returning a response of Workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflowDefinitionGetResponse'
        '204':
          description: NoContent response model
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/workflows/{workflow_id}/actions:
    post:
      tags:
      - Workflows
      summary: Handler to add new action to workflow.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: addActionRequest
      parameters:
      - name: workflow_id
        in: path
        description: The definitionId of workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      requestBody:
        description: The request body to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddActionPostRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An ActionDefinitonResponse response model


            # This is used for returning a response of action definition as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDefinitionGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/workflows/{workflow_id}/actions/{action_id}:
    get:
      tags:
      - Workflows
      summary: Handler to return Workflow's action information using action ID.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have atleast VIEW permission to given workflow'
      operationId: getActionById
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: action_id
        in: path
        description: The Id of an Action
        required: true
        schema:
          type: string
          x-go-name: ActionID
        x-go-name: ActionID
      responses:
        '200':
          description: 'An ActionDefinitonResponse response model


            # This is used for returning a response of action definition as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDefinitionGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    put:
      tags:
      - Workflows
      summary: Handler to update an Action.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: actionUpdateRequest
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: action_id
        in: path
        description: The Id of an Action
        required: true
        schema:
          type: string
          x-go-name: ActionID
        x-go-name: ActionID
      requestBody:
        description: An action to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionDefinitionPutRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An ActionPutResponse response model


            # This is used for returning a response of an action as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDefinitionPutResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
    delete:
      tags:
      - Workflows
      summary: Handler to delete an action from workflow byId.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MANAGE permission to given workflow'
      operationId: deleteActionById
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: action_id
        in: path
        description: The Id of an Action
        required: true
        schema:
          type: string
          x-go-name: ActionID
        x-go-name: ActionID
      responses:
        '200':
          description: 'An ActionPutResponse response model


            # This is used for returning a response of an action as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDefinitionPutResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    patch:
      tags:
      - Workflows
      summary: Handler to move actions in workflow.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: modifyActionStepsRequest
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: action_id
        in: path
        description: The Id of an Action
        required: true
        schema:
          type: string
          x-go-name: ActionID
        x-go-name: ActionID
      requestBody:
        description: An request body to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionPatchRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An ActionPutResponse response model


            # This is used for returning a response of an action as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDefinitionPutResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/workflows/{workflow_id}/actions/{action_id}/duplicate:
    post:
      tags:
      - Workflows
      summary: Handler to duplicate action.
      operationId: duplicateActionById
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: action_id
        in: path
        description: The Id of an Action
        required: true
        schema:
          type: string
          x-go-name: ActionID
        x-go-name: ActionID
      responses:
        '200':
          description: 'An ActionDefinitonResponse response model


            # This is used for returning a response of action definition as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDefinitionGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/workflows/{workflow_id}/lock:
    put:
      tags:
      - Workflows
      summary: Handler to Lock the workflow.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: workflowLockPutRequest
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      requestBody:
        description: Message
        content:
          application/json:
            schema:
              type: string
        required: true
        x-go-name: Message
      responses:
        '200':
          description: A WorkflowLockResponse model.
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '401':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: message
  /v1/workflows/{workflow_id}/references:
    get:
      tags:
      - Workflows
      summary: Handler to return references for the workflow.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have VIEW permission to given workflow'
      operationId: workflowObjRefRequestQueryParams
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: action_id
        in: query
        description: The Id of Action
        schema:
          type: string
          x-go-name: ActionID
        x-go-name: ActionID
      - name: variable_id
        in: query
        description: The Id of Variable
        schema:
          type: string
          x-go-name: VariableID
        x-go-name: VariableID
      responses:
        '200':
          description: workflowObjRefResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflowObjRefResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/workflows/{workflow_id}/rules:
    get:
      tags:
      - Workflows
      summary: Handler to return rules for the workflow.
      description: 'Allowed Role(s): admin, user, sat

        Allowed User(s): Who have VIEW permission to given workflow'
      operationId: getRulesByWorkflowID
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      responses:
        '200':
          description: 'WorkflowRulesResponse response model


            # This is used for returning rules of a workflow'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/WFRuleResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/workflows/{workflow_id}/unlock:
    put:
      tags:
      - Workflows
      summary: Handler to unlock a locked workflow. Param {workflow_id} accepts both an id and unique_name of the workflow
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: unlockWorkflow
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      responses:
        '200':
          description: A WorkflowLockResponse model.
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '401':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/workflows/{workflow_id}/validate:
    post:
      tags:
      - Workflows
      summary: Handler to validate workflow.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: validateWorkflowParams
      parameters:
      - name: workflow_id
        in: path
        description: This represents the identifier of the workflow, which can be either a ksuid or a unique name.
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      responses:
        '200':
          description: 'An WorkflowValidationResponse response model


            # This is used for returning a response of action definition as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowValidationGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/{workflow_id}/uninstall:
    delete:
      tags:
      - Workflows
      summary: Handler to unintsall a workflow installed through exchange.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MANAGE permission to given workflow'
      operationId: uninstallWorkflowById
      parameters:
      - name: workflow_id
        in: path
        description: The Id of Workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      - name: continue_uninstall
        in: query
        description: The parameter which indicates  whether to continue uninstall
        schema:
          type: string
          x-go-name: ContinueUninstall
        x-go-name: ContinueUninstall
      responses:
        '204':
          description: NoContent response model
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '401':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v2/workflows:
    post:
      tags:
      - Workflows
      summary: Handler to create a workflow definition from a given template.
      description: 'Allowed Role(s): admin


        Type should be provided in request body to create a Workflow.'
      operationId: templateWorkflowCreateRequest
      requestBody:
        description: The request to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/templateDefinitionPostRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'A WorkflowDefinitonResponse model


            # This is used for returning a response of Workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflowDefinitionGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v2/workflows/{workflow_id}:
    put:
      tags:
      - Workflows
      summary: Handler to update the workflow.
      description: 'Allowed Role(s): admin

        Allowed User(s): Who have MODIFY/MANAGE permission to given workflow'
      operationId: workflowUpdateRequestV2
      parameters:
      - name: workflow_id
        in: path
        description: The Id of workflow
        required: true
        schema:
          type: string
          x-go-name: WorkflowID
        x-go-name: WorkflowID
      requestBody:
        description: The request body to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowDefinitionPutRequestV2'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'A WorkflowUpdateResponse model


            # This is used for returning a response of Workflow as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionPutResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '423':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
components:
  schemas:
    ActionTableInfo:
      title: ActionTableInfo ..
      type: object
      properties:
        table_id:
          type: string
          x-go-name: TableID
        table_obj_type:
          $ref: '#/components/schemas/LHObjType'
        table_type_id:
          type: string
          x-go-name: TableTypeID
        table_type_obj_type:
          $ref: '#/components/schemas/LHObjType'
        variable_id:
          type: string
          x-go-name: VariableID
        variable_scope:
          type: string
          x-go-name: VariableScope
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    workflowObjRefResponse:
      title: WorkflowObjRefResponse response model.
      type: object
      properties:
        actions:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: 'in: body'
          x-go-name: Actions
      x-go-name: WorkflowObjRefResponse
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    OutputInfo:
      title: OutputInfo ..
      type: object
      properties:
        items:
          $ref: '#/components/schemas/ActionOutputVariable'
        name:
          type: string
          x-go-name: Name
        type:
          type: string
          x-go-name: Type
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    AddActionPostRequest:
      title: AddActionPostRequest ...
      type: object
      properties:
        action:
          $ref: '#/components/schemas/ActionDefinitionPostRequest'
        previous_action:
          $ref: '#/components/schemas/ActionDefinitionPatchRequest'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    VariableContent:
      title: VariableContent ...
      type: object
      properties:
        description:
          type: string
          description: Description of variable
          x-go-name: Description
        display_on_wizard:
          type: boolean
          description: 'Should the variable be shown on wizard

            Used in input scope variables, if it is true, then variable is displayed on wizard'
          x-go-name: DisplayOnWizard
        is_invisible:
          type: boolean
          x-go-name: IsInvisible
        is_required:
          type: boolean
          description: 'Is the variable Required

            Used in input string and secure string variable, if it is true, then string can''t be emptly'
          x-go-name: IsRequired
        name:
          type: string
          description: Name of variable
          x-go-name: Name
        scope:
          type: string
          description: Scope of variable. Scope can be 'input', 'global', 'local', 'static' or 'workflow'
          x-go-name: Scope
        type:
          type: string
          description: Type of variable. Type can be 'datatype.boolean', 'datatype.string', 'datatype.number' or 'datatype.table'
          x-go-name: Type
        value:
          type: object
          properties: {}
          description: Value of variable. Value can be a string, boolean, number or array
          x-go-name: Value
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    VariableGetAllResponse:
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        id:
          type: string
          x-go-name: VariableID
        owner:
          type: string
          x-go-name: Owner
        properties:
          $ref: '#/components/schemas/VariableContent'
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      description: VariableGetAllResponse model for variables
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    Status:
      title: Status ...
      type: object
      properties:
        details:
          $ref: '#/components/schemas/StatusDetails'
        prev_state:
          $ref: '#/components/schemas/State'
        state:
          $ref: '#/components/schemas/State'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    Variable:
      title: Variable ...
      required:
      - schema_id
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        id:
          type: string
          description: ID of variable
          x-go-name: VariableID
        object_type:
          $ref: '#/components/schemas/LHObjType'
        owner:
          type: string
          x-go-name: Owner
        properties:
          $ref: '#/components/schemas/VariableContent'
        schema_id:
          type: string
          description: View schema ID of variable, the value can be TargetTypeID for Table variables
          x-go-name: ViewSchemaID
        table_id:
          type: string
          description: ID of table
          x-go-name: TableID
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
        variable_def_id:
          type: string
          description: ID of variable
          x-go-name: VariableDefID
        version:
          type: string
          x-go-name: Version
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    StartWorkflowResponse:
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        definition_id:
          type: string
          x-go-name: DefinitionID
        id:
          type: string
          x-go-name: InstanceID
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          x-go-name: Properties
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        status:
          $ref: '#/components/schemas/Status'
        type:
          type: string
          x-go-name: Type
        version:
          type: string
          x-go-name: Version
      description: StartWorkflowResponse model
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    ActionDefinitionGetAllPropsResponse:
      title: ActionDefinitionGetAllPropsResponse ...
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ActionDefinitionGetAllPropsResponse'
          x-go-name: Actions
        adapter_id:
          type: string
          x-go-name: AdapterID
        base_type:
          type: string
          x-go-name: BaseType
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/ActionDefinitionGetAllPropsResponse'
          x-go-name: Branches
        id:
          type: string
          x-go-name: DefinitionID
        invalid_properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          x-go-name: InvalidProperties
        name:
          type: string
          x-go-name: Name
        output_schema:
          type: object
          additionalProperties:
            type: object
            properties: {}
          x-go-name: OutputSchema
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          x-go-name: Properties
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        skip_execution:
          type: boolean
          x-go-name: SkipExecution
        status:
          $ref: '#/components/schemas/Status'
        subworkflow_valid:
          type: boolean
          x-go-name: SubWorkflowValid
        title:
          type: string
          x-go-name: Title
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        valid:
          type: boolean
          x-go-name: Valid
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    ActionOutputVariable:
      title: ActionOutputVariable ..
      type: object
      properties:
        item_type:
          type: string
          x-go-name: ItemType
        output_variable:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/OutputInfo'
          x-go-name: Output
        type:
          type: string
          x-go-name: Type
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    WorkflowDefinitionPutResponse:
      type: object
      properties:
        invalid_actions:
          type: array
          items:
            type: string
          x-go-name: InvalidActions
        valid_actions:
          type: array
          items:
            type: string
          x-go-name: ValidActions
        workflow:
          $ref: '#/components/schemas/workflowDefinitionGetResponse'
      description: WorkflowDefinitionPutResponse model for workflow put request API
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    CourseOfAction:
      title: WorkflowMetaData ...
      required:
      - observable_types
      type: object
      properties:
        actuator:
          type: string
          description: 'Actuator.

            in: body'
          x-go-name: Actuator
        observable_types:
          type: array
          description: 'list of observable types to get for.

            in: body'
          items:
            type: string
          x-go-name: ObservableTypes
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    StartWorklfowConfigResponse:
      title: StartWorklfowConfigResponse ...
      type: object
      properties:
        id:
          type: string
          x-go-name: DefinitionID
        input_variables:
          type: array
          items:
            $ref: '#/components/schemas/VariableGetAllResponse'
          x-go-name: InputVariables
        intent_config:
          type: object
          properties: {}
          x-go-name: WFIntentConfig
        type_of_target_needed:
          type: string
          x-go-name: TargetType
        unique_name:
          type: string
          x-go-name: UniqueName
        wf_start_points:
          type: array
          items:
            $ref: '#/components/schemas/StartPointOption'
          x-go-name: WFStartPoints
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    WFRuleResponse:
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        description:
          type: string
          x-go-name: Description
        disabled:
          type: boolean
          x-go-name: Disabled
        id:
          type: string
          x-go-name: RuleID
        name:
          type: string
          x-go-name: Name
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          x-go-name: Properties
        rule_type:
          $ref: '#/components/schemas/RuleType'
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        status:
          $ref: '#/components/schemas/TriggerStatus'
        title:
          type: string
          x-go-name: Title
        type:
          type: string
          x-go-name: Type
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    GitInfo:
      type: object
      properties:
        commit_hash:
          type: string
          x-go-name: CommitHash
        commit_message:
          type: string
          x-go-name: CommitMessage
        commited_by:
          type: string
          x-go-name: CommitedBy
        commited_on:
          type: string
          format: date-time
          x-go-name: CommitedOn
        file_name:
          type: string
          x-go-name: FileName
        target_id:
          type: string
          x-go-name: TargetID
      description: 'nolint: misspell

        GitInfo maintains information about the last Git Import'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    WorkflowDefinitionPutRequest:
      title: WorkflowDefinitionPutRequest ...
      type: object
      properties:
        categories:
          type: array
          description: Categories associated with the workflow
          items:
            type: string
          x-go-name: Categories
        description:
          type: string
          description: Description of the workflow
          x-go-name: Description
        metadata:
          $ref: '#/components/schemas/WorkflowMetadata'
        name:
          type: string
          description: Name of the workflow
          x-go-name: Name
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: Properties of the workflow
          x-go-name: Properties
        title:
          type: string
          description: Title of the workflow
          x-go-name: Title
        triggers:
          type: array
          description: Triggers of the workflow
          items:
            $ref: '#/components/schemas/Trigger'
          x-go-name: WFTriggers
        unique_name:
          type: string
          description: Uniquename
          x-go-name: UniqueName
        valid:
          type: boolean
          description: Is valid
          x-go-name: Valid
        variables:
          type: array
          description: 'WFVariables of the workflow


            in: body'
          items:
            $ref: '#/components/schemas/Variable'
          x-go-name: WFVariables
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    WorkflowDefinitionPutRequestV2:
      title: WorkflowDefinitionPutRequestV2 ...
      type: object
      properties:
        categories:
          type: array
          description: Categories associated with the workflow
          items:
            type: string
          x-go-name: Categories
        description:
          type: string
          description: Description of the workflow
          x-go-name: Description
        metadata:
          $ref: '#/components/schemas/WorkflowMetadata'
        name:
          type: string
          description: Name of the workflow
          x-go-name: Name
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: Properties of the workflow
          x-go-name: Properties
        title:
          type: string
          description: Title of the workflow
          x-go-name: Title
        triggers:
          type: array
          description: Triggers of the workflow
          items:
            $ref: '#/components/schemas/Trigger'
          x-go-name: WFTriggers
        unique_name:
          type: string
          description: Uniquename
          x-go-name: UniqueName
        valid:
          type: boolean
          description: Is valid
          x-go-name: Valid
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    StatusDetails:
      type: object
      properties:
        code:
          type: string
          x-go-name: Code
        description:
          type: string
          x-go-name: Description
        message:
          type: string
          x-go-name: Message
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    ColumnMapInfo:
      title: ColumnMapInfo will be one entry in column map
      type: object
      properties:
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnData'
          x-go-name: Columns
        parent_action_ids:
          type: object
          additionalProperties:
            type: string
          x-go-name: ParentMap
        persist_output_as_table:
          type: boolean
          x-go-name: PersistOutput
        table_type_columns:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ColumnData'
          x-go-name: TblTypeColumns
        table_type_id:
          type: string
          x-go-name: TableTypeID
      description: '{

        "table_type_id": "16bsMd7aS2mqII9n5bIe8EGIl39",

        "table_type_columns": {

        "<referenced_table_type_id>": [

        {

        "name": "id",

        "type": "number"

        },

        {

        "name": "name",

        "type": "string"

        }

        ]

        },

        "parent_action_ids": {

        "<parent_action_id/reference workflow/global var id>" : "<referenced_table_type_id>"

        },

        "columns": [

        {

        "name": "id",

        "type": "number"

        },

        {

        "name": "name",

        "type": "string"

        }

        ]

        }'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    ActionPatchRequest:
      title: ActionPatchRequest ...
      type: object
      properties:
        action:
          $ref: '#/components/schemas/ActionDefinitionPatchRequest'
        previous_action:
          $ref: '#/components/schemas/ActionDefinitionPatchRequest'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    ColumnData:
      title: ColumnData ..
      type: object
      properties:
        name:
          type: string
          x-go-name: Name
        type:
          type: string
          x-go-name: Type
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    RuleType:
      title: RuleType ...
      type: string
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    workflowDefinitionPostRequest:
      title: WorkflowDefinitionPostRequest ...
      required:
      - name
      - properties
      type: object
      properties:
        categories:
          type: array
          description: Categories associated with the workflow
          items:
            type: string
          x-go-name: Categories
        description:
          type: string
          description: Description of the Wrokflow
          x-go-name: Description
        metadata:
          $ref: '#/components/schemas/WorkflowMetadata'
        name:
          type: string
          description: Name of the Workflow
          x-go-name: Name
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: Properties of the workflow
          x-go-name: Properties
        schema_id:
          type: string
          description: View SchemaID of the workflow
          x-go-name: ViewSchemaID
        title:
          type: string
          description: Title of the Workflow
          x-go-name: Title
        type:
          type: string
[...]
