openapi: 3.2.0
info:
  title: REST API. Calendars API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: Calendars
paths:
  /v1/calendars:
    get:
      tags:
      - Calendars
      summary: Handler to get all calendars.
      description: 'Allowed Role(s): admin, user, sat'
      operationId: listCalendars
      responses:
        '200':
          description: 'An CalendarResponse response model


            # This is used to return response with a single calendar as a body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalendarGetAllResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    post:
      tags:
      - Calendars
      summary: Handler to create a Calendar.
      description: 'Allowed Role(s): admin


        Either ViewSchemaID or Type or both in request body can be provided to create a Calendar.'
      operationId: calendarCreateRequest
      requestBody:
        description: The calendar to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarPostRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'An CalendarDefinitonResponse response model


            # This is used to retutn a response of Calendar as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '409':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '422':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/calendars/batch_get:
    post:
      tags:
      - Calendars
      summary: Handler to get all calendars paginated.
      description: 'Allowed Role(s): admin, user, sat'
      operationId: getAllCalendarsParam
      responses:
        '200':
          description: An GetAllCalendarSwaggerResponse model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllCalendarPaginatedResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '401':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/calendars/{calendar_id}:
    get:
      tags:
      - Calendars
      summary: Handler to get a specific calendar.
      description: 'Allowed Role(s): admin, user, sat'
      operationId: getCalendarById
      parameters:
      - name: calendar_id
        in: path
        description: The definitionId of calendar
        required: true
        schema:
          type: string
          x-go-name: CalndarID
        x-go-name: CalndarID
      responses:
        '200':
          description: 'An CalendarDefinitonResponse response model


            # This is used to retutn a response of Calendar as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    put:
      tags:
      - Calendars
      summary: Handler to update calendar. Allows partial update
      description: 'Allowed Role(s): admin'
      operationId: calendarUpdateRequest
      parameters:
      - name: calendar_id
        in: path
        description: The definitionId of calendar
        required: true
        schema:
          type: string
          x-go-name: CalndarID
        x-go-name: CalndarID
      requestBody:
        description: The calendar to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarPutRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An CalendarDefinitonResponse response model


            # This is used to retutn a response of Calendar as a body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '422':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
    delete:
      tags:
      - Calendars
      summary: Handler for delete calendar.
      description: 'Allowed Role(s): admin'
      operationId: deleteCalendarById
      parameters:
      - name: calendar_id
        in: path
        description: The definitionId of calendar
        required: true
        schema:
          type: string
          x-go-name: CalndarID
        x-go-name: CalndarID
      responses:
        '204':
          description: NoContent response model
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
components:
  schemas:
    CalendarGetAllResponse:
      title: CalendarGetAllResponse ...
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        calendar_type:
          type: string
          x-go-name: CalendarType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        id:
          type: string
          x-go-name: CalendarID
        name:
          type: string
          x-go-name: Name
        owner:
          type: string
          x-go-name: Owner
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    GetAllCalendarPaginatedResponse:
      title: An GetAllCalendarPaginatedResponse model.
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/PaginationLink'
        results:
          type: array
          items:
            $ref: '#/components/schemas/CalendarGetAllResponse'
          x-go-name: Results
        total_count:
          type: integer
          format: int32
          x-go-name: TotalCount
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    CalendarPutRequest:
      title: CalendarPutRequest ...
      required:
      - properties
      type: object
      properties:
        description:
          type: string
          description: Description of Calendar
          x-go-name: Description
        name:
          type: string
          description: Name of Calendar
          x-go-name: Name
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: Properties of Calendar
          x-go-name: Properties
        title:
          type: string
          description: Title of Calendar
          x-go-name: Title
        unique_name:
          type: string
          description: Properties of Category
          x-go-name: UniqueName
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    CalendarGetResponse:
      title: CalendarGetResponse ...
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        calendar_type:
          type: string
          x-go-name: CalendarType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: CalendarID
        name:
          type: string
          x-go-name: Name
        owner:
          type: string
          x-go-name: Owner
        properties:
          type: object
          properties: {}
          x-go-name: Properties
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        title:
          type: string
          x-go-name: Title
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    CalendarPostRequest:
      title: CalendarPostRequest ..
      required:
      - name
      - properties
      type: object
      properties:
        description:
          type: string
          description: Description of Calendar
          x-go-name: Description
        name:
          type: string
          description: Name of Calendar
          x-go-name: Name
        properties:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: Properties of Calendar
          x-go-name: Properties
        schema_id:
          type: string
          description: ViewSchemaID of Calendar
          x-go-name: ViewSchemaID
        title:
          type: string
          description: Title of Calendar
          x-go-name: Title
        type:
          type: string
          description: Type
          x-go-name: Type
        unique_name:
          type: string
          description: Properties of Calendar
          x-go-name: UniqueName
      description: Either ViewSchemaID or Type or both can be provided to create a Calendar.
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    PaginationLink:
      type: object
      properties:
        next:
          type: string
          x-go-name: Next
        prev:
          type: string
          x-go-name: Prev
        self:
          type: string
          x-go-name: Self
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
