openapi: 3.2.0
info:
  title: REST API. Target Groups API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: TargetGroups
paths:
  /v1/target_groups:
    get:
      tags:
      - TargetGroups
      summary: '# Handler returning all Target groups information'
      description: 'Allowed Role(s): admin, user, sat'
      operationId: getAllTargetGroups
      responses:
        '200':
          description: 'The TargetGroupAllResponse response model


            # This is used for returning a response of target group as body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/targetGroupGetAllResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    post:
      tags:
      - TargetGroups
      summary: Handler to create Target group.
      description: 'Allowed Role(s): admin


        Either ViewSchemaID or Type or both in request body can be provided to create a Target Group.'
      operationId: targetGroupCreateRequest
      requestBody:
        description: The target group to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetGroupRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'An TargetGroupResponse response model


            # This is used for returning a response for target group as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/targetGroupGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '409':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/target_groups/{target_group_id}:
    get:
      tags:
      - TargetGroups
      summary: readTargetGroupByID Handler to return Target group infomration.
      description: 'Allowed Role(s): admin, user, sat'
      operationId: getTargetGroupById
      parameters:
      - name: target_group_id
        in: path
        description: An ID of target_group
        required: true
        schema:
          type: string
          x-go-name: TargetGroupID
        x-go-name: TargetGroupID
      responses:
        '200':
          description: 'An TargetGroupResponse response model


            # This is used for returning a response for target group as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/targetGroupGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    put:
      tags:
      - TargetGroups
      summary: '# UpdateTarget Handler to update the target group'
      description: 'Allowed Role(s): admin'
      operationId: targetGroupUpdateRequest
      parameters:
      - name: target_group_id
        in: path
        description: The definitionId of target group
        required: true
        schema:
          type: string
          x-go-name: TargetGroupID
        x-go-name: TargetGroupID
      requestBody:
        description: The target group to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetGroupRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An TargetGroupResponse response model


            # This is used for returning a response for target group as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/targetGroupGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
    delete:
      tags:
      - TargetGroups
      summary: '# Handler to delete Target group'
      description: 'Allowed Role(s): admin'
      operationId: deleteTargetGroupByID
      parameters:
      - name: target_group_id
        in: path
        description: An ID of target_group
        required: true
        schema:
          type: string
          x-go-name: TargetGroupID
        x-go-name: TargetGroupID
      responses:
        '204':
          description: NoContent response model
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
components:
  schemas:
    Expression:
      title: Expression ....
      type: object
      properties:
        left_operand:
          type: object
          properties: {}
          x-go-name: LeftOperand
        operator:
          type: string
          x-go-name: Operator
        right_operand:
          type: object
          properties: {}
          x-go-name: RightOperand
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/base-microservice/longhornparser/models
    TargetGroupProperties:
      title: 'TargetGroupProperties represents the specific target group attributes information

        It holds the data/view schema id of targettype, target Ids and criteria for Target group'
      type: object
      properties:
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/Expression'
          x-go-name: Criteria
        data_target_type:
          type: string
          x-go-name: DataTargetType
        include_all_targets:
          type: boolean
          x-go-name: IncludeAllTargets
        matched_target_ids:
          type: array
          items:
            type: string
          x-go-name: MatchedTargetIDs
        selected_target_ids:
          type: array
          items:
            type: string
          x-go-name: SelectedTargetIDs
        view_target_type:
          type: string
          x-go-name: ViewTargetType
      description: nolint:lll
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/lib-data/models
    TargetGroupRequest:
      title: TargetGroupRequest ...
      required:
      - name
      - targets
      - title
      type: object
      properties:
        criteria:
          type: array
          description: TargetTypes common attributes
          items:
            $ref: '#/components/schemas/Expression'
          x-go-name: Criteria
        description:
          type: string
          description: Description of TargetGroup
          x-go-name: Description
        id:
          type: string
          x-go-name: TargetGroupID
        name:
          type: string
          description: Name of TargetGroup
          x-go-name: Name
        schema_id:
          type: string
          description: ViewSchemaID of Schedule
          x-go-name: ViewSchemaID
        targets:
          type: array
          description: Properties of Targets
          items:
            $ref: '#/components/schemas/TargetGroupProperties'
          x-go-name: TargetGroupProperties
        title:
          type: string
          description: Title of TargetGroup
          x-go-name: Title
        type:
          type: string
          description: Type
          x-go-name: Type
        unique_name:
          type: string
          description: Uniquename
          x-go-name: UniqueName
      description: Either ViewSchemaID or Type or both can be provided to create a TargetGroup.
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    targetGroupGetResponse:
      title: TargetGroupGetResponse ...
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        criteria:
          type: object
          properties: {}
          x-go-name: Criteria
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: TargetGroupID
        name:
          type: string
          x-go-name: Name
        owner:
          type: string
          x-go-name: Owner
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        targets:
          type: array
          items:
            $ref: '#/components/schemas/TargetGroupProperties'
          x-go-name: TargetGroupProperties
        title:
          type: string
          x-go-name: Title
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      x-go-name: TargetGroupGetResponse
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    targetGroupGetAllResponse:
      title: TargetGroupGetAllResponse ...
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: TargetGroupID
        name:
          type: string
          x-go-name: Name
        owner:
          type: string
          x-go-name: Owner
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        title:
          type: string
          x-go-name: Title
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      x-go-name: TargetGroupGetAllResponse
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
