openapi: 3.2.0
info:
  title: REST API. Variables API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: Variables
paths:
  /v1/variables:
    get:
      tags:
      - Variables
      summary: Handler to get all Variables.
      description: 'Allowed Role(s) for Global variables: admin

        Allowed Role(s) for ENV variables: admin, user, sat'
      operationId: listVariables
      responses:
        '200':
          description: 'An VariableResponse response model


            This is used for returning a response with a single variable as a body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VariableGetAllResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    post:
      tags:
      - Variables
      summary: Handler to create a Variable.
      description: 'Allowed Role(s) for Global variables: admin

        Allowed Role(s) for ENV variables: admin


        Either ViewSchemaID or Type or both in request body can be provided to create a Variable.'
      operationId: variableCreateRequest
      requestBody:
        description: Variable request to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariablePostRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'VariableDefinitonResponse An VariableDefinitonResponse response model


            This is used for returning a response of Variable as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '409':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/variables/{variable_id}:
    get:
      tags:
      - Variables
      summary: Handler to return information about Variable.
      description: 'Allowed Role(s) for Global variables: admin, user, sat

        Allowed Role(s) for ENV variables: admin, user, sat'
      operationId: getVariableById
      parameters:
      - name: variable_id
        in: path
        description: Variable ID
        required: true
        schema:
          type: string
          x-go-name: VariableID
        x-go-name: VariableID
      responses:
        '200':
          description: 'VariableDefinitonResponse An VariableDefinitonResponse response model


            This is used for returning a response of Variable as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    put:
      tags:
      - Variables
      summary: Handler to update Variable.
      description: 'Allowed Role(s) for Global variables: admin

        Allowed Role(s) for ENV variables: admin'
      operationId: VariableUpdateRequest
      parameters:
      - name: variable_id
        in: path
        description: Variable ID
        required: true
        schema:
          type: string
          x-go-name: VariableID
        x-go-name: VariableID
      requestBody:
        description: Variable request to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariablePutRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'VariableDefinitonResponse An VariableDefinitonResponse response model


            This is used for returning a response of Variable as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '409':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
    delete:
      tags:
      - Variables
      summary: Handler to delete Variable byId.
      description: 'Allowed Role(s) for Global variables: admin

        Allowed Role(s) for ENV variables: admin'
      operationId: deleteVariableById
      parameters:
      - name: variable_id
        in: path
        description: Variable ID
        required: true
        schema:
          type: string
          x-go-name: VariableID
        x-go-name: VariableID
      responses:
        '204':
          description: NoContent response model
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
  /v1/variables/{variable_id}/references:
    get:
      tags:
      - Variables
      summary: '# Handler to return Variable References by Variable Id'
      description: 'Allowed Role(s) for Global variables: admin, user, sat

        Allowed Role(s) for ENV variables: admin, user, sat'
      operationId: getVariableRefeById
      parameters:
      - name: variable_id
        in: path
        description: Variable ID
        required: true
        schema:
          type: string
          x-go-name: VariableID
        x-go-name: VariableID
      responses:
        '200':
          description: 'VariableDefinitonResponse An VariableDefinitonResponse response model


            This is used for returning a response of Variable as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
components:
  schemas:
    VariableContent:
      title: VariableContent ...
      type: object
      properties:
        description:
          type: string
          description: Description of variable
          x-go-name: Description
        display_on_wizard:
          type: boolean
          description: 'Should the variable be shown on wizard

            Used in input scope variables, if it is true, then variable is displayed on wizard'
          x-go-name: DisplayOnWizard
        is_invisible:
          type: boolean
          x-go-name: IsInvisible
        is_required:
          type: boolean
          description: 'Is the variable Required

            Used in input string and secure string variable, if it is true, then string can''t be emptly'
          x-go-name: IsRequired
        name:
          type: string
          description: Name of variable
          x-go-name: Name
        scope:
          type: string
          description: Scope of variable. Scope can be 'input', 'global', 'local', 'static' or 'workflow'
          x-go-name: Scope
        type:
          type: string
          description: Type of variable. Type can be 'datatype.boolean', 'datatype.string', 'datatype.number' or 'datatype.table'
          x-go-name: Type
        value:
          type: object
          properties: {}
          description: Value of variable. Value can be a string, boolean, number or array
          x-go-name: Value
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    VariableGetAllResponse:
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        id:
          type: string
          x-go-name: VariableID
        owner:
          type: string
          x-go-name: Owner
        properties:
          $ref: '#/components/schemas/VariableContent'
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      description: VariableGetAllResponse model for variables
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    VariablePostRequest:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/VariableContent'
        schema_id:
          type: string
          description: ViewSchemaID of variable
          x-go-name: ViewSchemaID
        type:
          type: string
          description: Type
          x-go-name: Type
        unique_name:
          type: string
          description: Properties of variable
          x-go-name: UniqueName
      description: 'VariablePostRequest model for variables

        Either ViewSchemaID or Type or both can be provided to create a Variable.'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    VariableGetResponse:
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        id:
          type: string
          x-go-name: VariableID
        owner:
          type: string
          x-go-name: Owner
        properties:
          $ref: '#/components/schemas/VariableContent'
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      description: VariableGetResponse model for variables
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    VariablePutRequest:
      title: VariablePutRequest represents a payload for modifying an existing variable by its ID.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/VariableContent'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
