openapi: 3.2.0
info:
  title: REST API. Schedules API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: Schedules
paths:
  /v1/schedules:
    get:
      tags:
      - Schedules
      summary: Handler to get all schedules.
      description: 'Allowed Role(s): admin, user, sat'
      operationId: listSchedules
      responses:
        '200':
          description: 'An ScheduleResponse response model


            # This is used for returning a response with a single schedule as body'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleGetAllResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    post:
      tags:
      - Schedules
      summary: Handler to creates a schedule.
      description: 'Allowed Role(s): admin


        Either ViewSchemaID or Type or both in request body can be provided to create a Schedule.'
      operationId: scheduleCreateRequest
      requestBody:
        description: The schedule to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleDefinitionPostRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'An ScheduleDefinitonResponse response model


            # This is used for returning a response of schedule as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '409':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
  /v1/schedules/{schedule_id}:
    get:
      tags:
      - Schedules
      summary: Handler to get a specific schedule.
      description: 'Allowed Role(s): admin, user, sat'
      operationId: getScheduleById
      parameters:
      - name: schedule_id
        in: path
        description: The definitionId of schedule
        required: true
        schema:
          type: string
          x-go-name: ScheduleID
        x-go-name: ScheduleID
      responses:
        '200':
          description: 'An ScheduleDefinitonResponse response model


            # This is used for returning a response of schedule as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    put:
      tags:
      - Schedules
      summary: Handler to updates a schedule. Allows partial update.
      description: 'Allowed Role(s): admin'
      operationId: scheduleUpdateRequest
      parameters:
      - name: schedule_id
        in: path
        description: The definitionId of schedule
        required: true
        schema:
          type: string
          x-go-name: ScheduleID
        x-go-name: ScheduleID
      requestBody:
        description: The schedule to submit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePutRequest'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An ScheduleDefinitonResponse response model


            # This is used for returning a response of schedule as body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetResponse'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '409':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
    delete:
      tags:
      - Schedules
      summary: Handler to delete a schedule.
      description: 'Allowed Role(s): admin'
      operationId: deleteScheduleById
      parameters:
      - name: schedule_id
        in: path
        description: The definitionId of schedule
        required: true
        schema:
          type: string
          x-go-name: ScheduleID
        x-go-name: ScheduleID
      responses:
        '204':
          description: NoContent response model
          content: {}
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '412':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
components:
  schemas:
    ScheduleGetAllResponse:
      title: ScheduleGetAllResponse ...
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: ScheduleID
        name:
          type: string
          x-go-name: Name
        owner:
          type: string
          x-go-name: Owner
        rule_id:
          type: string
          x-go-name: RuleID
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    ScheduleDefinitionPostRequest:
      title: SchedulePostRequest ...
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of Schedule
          x-go-name: Name
        properties:
          $ref: '#/components/schemas/ScheduleProperties'
        schema_id:
          type: string
          description: ViewSchemaID of Schedule
          x-go-name: ViewSchemaID
        type:
          type: string
          description: Type
          x-go-name: Type
        unique_name:
          type: string
          description: Uniquename
          x-go-name: UniqueName
      description: Either ViewSchemaID or Type or both can be provided to create a Schedule.
      x-go-name: SchedulePostRequest
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    SchedulePutRequest:
      title: SchedulePutRequest ...
      type: object
      properties:
        name:
          type: string
          description: Name of Schedule
          x-go-name: Name
        properties:
          $ref: '#/components/schemas/ScheduleProperties'
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
    ScheduleGetResponse:
      title: ScheduleGetResponse ...
      type: object
      properties:
        base_type:
          type: string
          x-go-name: BaseType
        created_by:
          type: string
          x-go-name: CreatedBy
        created_on:
          type: string
          format: date-time
          x-go-name: CreatedOn
        id:
          type: string
          x-go-name: ScheduleID
        name:
          type: string
          x-go-name: Name
        owner:
          type: string
          x-go-name: Owner
        properties:
          $ref: '#/components/schemas/ScheduleProperties'
        rule_id:
          type: string
          x-go-name: RuleID
        schema_id:
          type: string
          x-go-name: ViewSchemaID
        type:
          type: string
          x-go-name: Type
        unique_name:
          type: string
          x-go-name: UniqueName
        updated_by:
          type: string
          x-go-name: UpdatedBy
        updated_on:
          type: string
          format: date-time
          x-go-name: UpdatedOn
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    ScheduleProperties:
      type: object
      properties:
        calendar:
          type: string
          x-go-name: CalendarID
        description:
          type: string
          x-go-name: Description
        display_name:
          type: string
          x-go-name: Name
        interval_hours:
          type: integer
          format: uint32
          x-go-name: IntervalHours
        interval_minutes:
          type: integer
          format: uint32
          x-go-name: IntervalMinutes
        number_of_times:
          type: integer
          format: uint32
          x-go-name: NumberOfTimes
        starttime:
          type: string
          x-go-name: Starttime
        timezone:
          type: string
          x-go-name: Timezone
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/ao-libs/api/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
