openapi: 3.2.0
info:
  title: REST API. Share Object Permissions API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: visibility.amp.cisco.com
    note: Anonymously fetchable Swagger 2.0 for nine IROH services plus the CTIA threat-intelligence API. The host returns real 404s on invented paths, so the 200s are genuine.
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-int/swagger.json
  - type: source
    url: https://private.intel.amp.cisco.com/swagger.json
servers:
- url: https://automate.us.security.cisco.com/{basePath}
  variables:
    basePath:
      default: api
security:
- oAuth2:
  - integration:read
  - private-intel:read
  - profile:read
  - inspect:read
  - users:read
  - invite:read
  - enrich:read
  - oauth:read
  - response:read
  - global-intel:read
  - ao:read
  - playbook:read
tags:
- name: ShareObjectPermissions
paths:
  /v1/share/{entity_id}:
    get:
      tags:
      - ShareObjectPermissions
      summary: '# Handler to get all object permission for entityID'
      description: 'Allowed Role(s): admin, user

        Allowed User(s): Who have MANAGE permission to given enitiy'
      operationId: ReadObjectSharePermissions
      parameters:
      - name: entity_id
        in: path
        description: An ID of entity (i.e workflow ID)
        required: true
        schema:
          type: string
          x-go-name: EntityID
        x-go-name: EntityID
      - name: base_type
        in: query
        description: Entity base type (The supported entitiy is only "workflow" for now)
        required: true
        schema:
          type: string
          x-go-name: BaseType
        x-go-name: BaseType
      responses:
        '200':
          description: 'An ShareObjectPermissionsResponse response model


            # This is used for returning a response for sharing of object permissions for user and groups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareObjectPermissions'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
    put:
      tags:
      - ShareObjectPermissions
      summary: '# ShareObjectPermissions Handler to update object permissions of users and groups'
      description: 'Allowed Role(s): admin, user

        Allowed User(s): Who have MANAGE permission to given enitiy'
      operationId: UpdateObjectSharePermissions
      parameters:
      - name: entity_id
        in: path
        description: An ID of entity (i.e workflow ID)
        required: true
        schema:
          type: string
          x-go-name: EntityID
        x-go-name: EntityID
      - name: base_type
        in: query
        description: Entity base type (The supported entitiy is only "workflow" for now)
        required: true
        schema:
          type: string
          x-go-name: BaseType
        x-go-name: BaseType
      requestBody:
        description: Share update object permissions payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareObjectPermissions'
        required: true
        x-go-name: RequestBody
      responses:
        '200':
          description: 'An ShareObjectPermissionsResponse response model


            # This is used for returning a response for sharing of object permissions for user and groups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareObjectPermissions'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
    post:
      tags:
      - ShareObjectPermissions
      summary: '# Handler to share object permissions to users and groups'
      description: 'Allowed Role(s): admin, user

        Allowed User(s): Who have MANAGE permission to given enitiy'
      operationId: CreateObjectSharePermissions
      parameters:
      - name: entity_id
        in: path
        description: An ID of entity (i.e workflow ID)
        required: true
        schema:
          type: string
          x-go-name: EntityID
        x-go-name: EntityID
      - name: base_type
        in: query
        description: Entity base type (The supported entitiy is only "workflow" for now)
        required: true
        schema:
          type: string
          x-go-name: BaseType
        x-go-name: BaseType
      requestBody:
        description: The object permissions payload to share.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareObjectPermissions'
        required: true
        x-go-name: RequestBody
      responses:
        '201':
          description: 'An ShareObjectPermissionsResponse response model


            # This is used for returning a response for sharing of object permissions for user and groups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareObjectPermissions'
        '400':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '403':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '404':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '409':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
        '500':
          description: A Error is a swagger response to represent error
          headers:
            code:
              schema:
                type: integer
                format: int64
            description:
              schema:
                type: string
            message:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: request_body
components:
  schemas:
    UserPermission:
      title: UserPermission ...
      required:
      - id
      - permissions
      type: object
      properties:
        id:
          type: string
          description: An ID of user
          x-go-name: ID
        permissions:
          type: array
          description: 'Permissions of the entity, Type of permissions can be: "view", "run", "modify", "manage"'
          items:
            type: string
          x-go-name: Permissions
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    GroupPermission:
      title: GroupPermission ...
      required:
      - id
      - permissions
      type: object
      properties:
        id:
          type: string
          description: An ID of group
          x-go-name: ID
        permissions:
          type: array
          description: 'Permissions of the entity, Type of permissions can be: "view", "run", "modify", "manage"'
          items:
            type: string
          x-go-name: Permissions
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
    ShareObjectPermissions:
      title: ShareObjectPermissions ...
      type: object
      properties:
        groups:
          type: array
          description: List of groups permissions
          items:
            $ref: '#/components/schemas/GroupPermission'
          x-go-name: GroupPermissions
        users:
          type: array
          description: List of users permissions
          items:
            $ref: '#/components/schemas/UserPermission'
          x-go-name: UserPermissions
      x-go-package: bitbucket-eng-sjc1.cisco.com/bitbucket/nextg/be-console/models
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
          scopes:
            telemetry: Collect application data for analytics
            integration:read: Manage your modules
            private-intel:read: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile:read: Get your profile information
            inspect:read: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users:read: Manage users of your organization
            investigation: Perform threat analysis investigation
            invite:read: Invite users into your organization
            casebook: Access and modify your casebooks
            playbook: Access and modify your playbooks
            orbital: Orbital Integration.
            enrich:read: Query your configured modules for threat intelligence
            oauth:read: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response:read: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao:read: AO Integration.
x-original-swagger-version: '2.0'
