openapi: 3.2.0
info:
  title: Auth Iroh API
  version: 1.0.107
  license:
    name: All Rights Reserved
    url: https://www.cisco.com
  contact:
    name: Cisco Security Business Group -- Advanced Threat
    email: cisco-intel-api-support@cisco.com
  description: API Handling Logins
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-auth/index.html
  - type: raw
    url: https://visibility.amp.cisco.com/iroh/iroh-auth/swagger.json
servers:
- url: https://visibility.amp.cisco.com/
security:
- iroh: []
- AuthorizationHeader: []
- oauth2:
  - telemetry
  - integration
  - private-intel
  - admin
  - cognitive
  - profile
  - inspect
  - asset
  - event
  - feedback
  - sse
  - registry
  - users
  - investigation
  - invite
  - casebook
  - orbital
  - enrich
  - oauth
  - vault
  - response
  - notification
  - global-intel:read
  - webhook
  - ao
tags:
- name: Iroh
paths:
  /iroh/iroh-auth/login:
    get:
      x-no-doc: false
      summary: Show the login page
      parameters:
      - in: query
        name: redirect_after_login
        description: The URI to be redirected after login
        required: false
        allowEmptyValue: true
        schema:
          type: string
      - in: query
        name: origin
        description: The URI to be redirected after login (redirect_after_login has precedence)
        required: false
        allowEmptyValue: true
        schema:
          type: string
      - in: query
        name: selected_idps
        description: The ordered list of idp_ids
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: reset_session
        description: If true delete the session token from the localStorage
        required: false
        allowEmptyValue: true
        schema:
          type: boolean
      - in: query
        name: use_session_cookie_auth
        description: When true, use session cookie auth instead of iroh-code
        required: false
        allowEmptyValue: true
        schema:
          type: boolean
      - in: query
        name: tab_id
        description: Tab identifier for session binding. tab-id is optional at session creation time but mandatory for validation if a hash was stored.
        required: false
        allowEmptyValue: true
        schema:
          type: string
      responses:
        default:
          description: ''
      tags:
      - Iroh
  /iroh/iroh-auth/logout:
    get:
      x-no-doc: false
      summary: Log out of IROH-Auth, redirect to /login with the same parameters. Useful if you want to enforce user IdP selection.
      parameters:
      - in: query
        name: redirect_after_login
        description: The URI to be redirected after login
        required: false
        allowEmptyValue: true
        schema:
          type: string
      - in: query
        name: origin
        description: The URI to be redirected after login (redirect_after_login has precedence)
        required: false
        allowEmptyValue: true
        schema:
          type: string
      - in: query
        name: selected_idps
        description: The ordered list of idp_ids
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      x-cors-credentials?: true
      description: '*Requires credentials on cross-origin requests (emits `Access-Control-Allow-Credentials: true`).*'
      responses:
        default:
          description: ''
      tags:
      - Iroh
  /iroh/iroh-auth/handle-org-access-request:
    get:
      x-no-doc: false
      summary: Given a code, proceed with the org access request approval process.
      description: The role is embedded in the encrypted code. The query param is accepted as a legacy fallback for in-flight links.
      parameters:
      - in: query
        name: code
        description: ''
        required: true
        schema:
          type: string
      - in: query
        name: role
        description: ''
        required: false
        allowEmptyValue: true
        schema:
          type: string
      responses:
        default:
          description: ''
      tags:
      - Iroh
components:
  securitySchemes:
    iroh:
      type: apiKey
      in: header
      name: authorization
    AuthorizationHeader:
      type: apiKey
      in: header
      name: authorization
      description: 'Ex: Bearer \<token\>'
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            telemetry: collect application data for analytics
            integration: Manage your modules
            private-intel: Access Private Intelligence
            admin: Provide admin privileges
            cognitive: Cognitive Integration
            profile: Get your profile information
            inspect: Extract Observables and data from text
            asset: Access and modify your assets
            event: Read IROH Events
            feedback: Submit Customer Feedback
            sse: SSE Integration. Manage your Devices.
            registry: Manage registry entries
            users: Manage users of your organisation
            investigation: Perform threat analysis investigation
            invite: Invite users into your organization
            casebook: Access and modify your casebooks
            orbital: Orbital Integration.
            enrich: Query your configured modules for threat intelligence
            oauth: Manage OAuth2 Clients
            vault: Grants access to Module Vaults
            response: List and execute response actions using configured modules
            notification: Receive notifications from integrations
            global-intel:read: Access AMP Global Intelligence
            webhook: Manage your Webhooks
            ao: AO Integration.
          authorizationUrl: https://visibility.amp.cisco.com/iroh/oauth2/authorize
          tokenUrl: https://visibility.amp.cisco.com/iroh/oauth2/token
