openapi: 3.2.0
info:
  title: IROH-INT Enrich Deliberate API
  version: 1.0.107
  license:
    name: All Rights Reserved
    url: https://www.cisco.com
  contact:
    name: Cisco Security Business Group -- Advanced Threat
    email: cisco-intel-api-support@cisco.com
  description: 'IROH Integrations: configure and query Threat Response modules'
  x-provenance:
    method: harvested
    authored_by: Cisco XDR
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://visibility.amp.cisco.com/iroh/iroh-enrich/index.html
  - type: raw
    url: https://visibility.amp.cisco.com/iroh/iroh-enrich/swagger.json
servers:
- url: https://visibility.amp.cisco.com/
security:
- iroh: []
- AuthorizationHeader: []
- oauth2:
  - telemetry
  - integration
  - private-intel
  - admin
  - cognitive
  - profile
  - inspect
  - asset
  - event
  - feedback
  - sse
  - registry
  - users
  - investigation
  - invite
  - casebook
  - orbital
  - enrich
  - oauth
  - vault
  - response
  - notification
  - global-intel:read
  - webhook
  - ao
tags:
- name: Deliberate
  description: This set of routes allow to quickly get answers from your integrations You might use them at the start of any investigation to quickly get answers from your modules if something is bad.
paths:
  /iroh/iroh-enrich/deliberate/observables:
    post:
      x-no-doc: false
      tags:
      - Deliberate
      description: '[required scopes](/iroh/doc/iroh-auth/#scopes): `enrich/observables/deliberate:read`


        This route queries all enabled modules supporting the enrichment protocol with the supplied `Observables` in order to quickly get fast `Verdicts` from all your integrations.'
      parameters:
      - in: query
        name: mids
        description: Use this parameter to query only some Modules passing their Ids
        required: false
        example:
        - a78f09b4-16fa-4617-8bbf-f6044284ec0f
        - 36716d80-2bd7-47fc-a179-cde2a0a8c5fe
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: flags
        description: Use this parameter to use Modules which ModuleType flag matches with items provided as an argument.
        required: false
        example:
        - cisco
        - threat-intel
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: product_categories
        description: Use this parameter to use Modules which ModuleType product_category matches with items provided as an argument.
        required: false
        example:
        - cloud-firewall
        - itsm
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A `Bundle` including `Verdict` documents only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliberateEnvelopedObserveBundle'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/DeliberateEnvelopedObserveBundle'
            application/edn:
              schema:
                $ref: '#/components/schemas/DeliberateEnvelopedObserveBundle'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/DeliberateEnvelopedObserveBundle'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/DeliberateEnvelopedObserveBundle'
        '401':
          description: A `NormalizedError` including a `trace_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormalizedError-401'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/NormalizedError-401'
            application/edn:
              schema:
                $ref: '#/components/schemas/NormalizedError-401'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/NormalizedError-401'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/NormalizedError-401'
        '500':
          description: A `NormalizedError` including a `trace_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormalizedError-500'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/NormalizedError-500'
            application/edn:
              schema:
                $ref: '#/components/schemas/NormalizedError-500'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/NormalizedError-500'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/NormalizedError-500'
      summary: Get Observable verdicts
      requestBody:
        content:
          application/json:
            schema:
              description: An Observable list
              example:
              - type: domain
                value: ilo.brenz.pl
              - type: email
                value: no-reply@internetbadguys.com
              - type: sha256
                value: 8fda14f91e27afec5c1b1f71d708775c9b6e2af31e8331bbf26751bc0583dc7e
              type: array
              items:
                $ref: '#/components/schemas/Observable'
          application/x-yaml:
            schema:
              description: An Observable list
              example:
              - type: domain
                value: ilo.brenz.pl
              - type: email
                value: no-reply@internetbadguys.com
              - type: sha256
                value: 8fda14f91e27afec5c1b1f71d708775c9b6e2af31e8331bbf26751bc0583dc7e
              type: array
              items:
                $ref: '#/components/schemas/Observable'
          application/edn:
            schema:
              description: An Observable list
              example:
              - type: domain
                value: ilo.brenz.pl
              - type: email
                value: no-reply@internetbadguys.com
              - type: sha256
                value: 8fda14f91e27afec5c1b1f71d708775c9b6e2af31e8331bbf26751bc0583dc7e
              type: array
              items:
                $ref: '#/components/schemas/Observable'
          application/transit+json:
            schema:
              description: An Observable list
              example:
              - type: domain
                value: ilo.brenz.pl
              - type: email
                value: no-reply@internetbadguys.com
              - type: sha256
                value: 8fda14f91e27afec5c1b1f71d708775c9b6e2af31e8331bbf26751bc0583dc7e
              type: array
              items:
                $ref: '#/components/schemas/Observable'
          application/transit+msgpack:
            schema:
              description: An Observable list
              example:
              - type: domain
                value: ilo.brenz.pl
              - type: email
                value: no-reply@internetbadguys.com
              - type: sha256
                value: 8fda14f91e27afec5c1b1f71d708775c9b6e2af31e8331bbf26751bc0583dc7e
              type: array
              items:
                $ref: '#/components/schemas/Observable'
        description: An Observable list
        required: true
components:
  schemas:
    AttackPattern:
      type: object
      properties:
        description:
          example: string
          description: A description of object, which may be detailed.
          type: string
        abstraction_level:
          example: aggregate
          description: The CAPEC abstraction level for patterns describing techniques to attack a system.
          type: string
          enum:
          - detailed
          - standard
          - aggregate
          - meta
          - category
        schema_version:
          example: 1.3.30
          description: CTIM schema version for this entity.
          type: string
        revision:
          example: 10
          description: A monotonically increasing revision, incremented each time the object is changed.
          type: integer
          format: int64
        type:
          example: attack-pattern
          type: string
          enum:
          - attack-pattern
        created:
          type: string
          format: date-time
        source:
          example: string
          description: Represents the source of the intelligence that led to the creation of the entity.
          type: string
        external_ids:
          example:
          - string
          description: "It is used to store a list of external identifiers that can be linked to the incident, providing a reliable and manageable way to correlate and group related events across multiple data sources. It is especially useful in larger organizations that rely on multiple security information and event management (SIEM) systems to detect security incidents. For instance, it can be used to track events across different network sensors, intrusion detection and prevention systems (IDPS), or log management platforms. \n The field can also be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. It can be used to cross-reference with other external tools such as threat intelligence feeds and vulnerability scanners."
          type: array
          items:
            type: string
        modified:
          type: string
          format: date-time
        short_description:
          example: string
          description: A single line, short summary of the object.
          type: string
        title:
          example: string
          description: A short title for this object, used as primary display and reference value.
          type: string
        external_references:
          example:
          - source_name: string
            description: string
            url: string
            hashes:
            - string
            external_id: string
          description: "Specifies a list of external references which refers to non-CTIM information.\n\nSimilar to `external_ids` field with major differences:\n\n- `external_ids` field is used to store a list of external identifiers that can be used to link entities across different data sources. These identifiers are typically standardized and well-known, such as CVE IDs, US-CERT advisories, or other industry-standard threat intelligence feeds. The `external_ids` field can be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. \n\n- `external_references` field, on the other hand, is used to provide a more general mechanism for linking entities to external sources of information. The `external_references` field can include references to blog posts, articles, external documents, threat intelligence reports, and other sources of information that may not have a standardized format or identifier."
          type: array
          items:
            $ref: '#/components/schemas/ExternalReference'
        source_uri:
          example: string
          description: URI of the source of the intelligence that led to the creation of the entity.
          type: string
        x_mitre_platforms:
          example:
          - string
          description: ATT&CK Technique.Platforms.
          type: array
          items:
            type: string
        language:
          example: string
          description: 'The `language` field is used to specify the primary language of the affected system or the target of an attack. It can be used to provide additional context and information about the entity. The primary purpose of this field is to help analysts filter and prioritize entities based on their knowledge and expertise of different languages.


            For example, if an incident involves an attack on a system in a country where a specific language is predominant, the `language` field can be used to indicate that language, which can help analysts to quickly identify and respond to incidents that may be geographically or culturally relevant. This information can be used to prioritize incidents based on their potential impact. The `language` field can also be used to help with correlation of incidents across different systems and regions, as well as to help with data analysis and reporting.'
          type: string
        id:
          example: string
          description: Globally unique URI identifying this object.
          type: string
        tlp:
          example: green
          description: 'TLP stands for [Traffic Light Protocol](https://www.us-cert.gov/tlp), which indicates precisely how a resource is intended to be shared, replicated, copied, etc.


            It is used to indicate the sensitivity of the information contained within the message. This allows recipients to determine the appropriate handling and dissemination of the information based on their clearance level and need-to-know.


            For example, an entity containing information about a critical vulnerability in a widely-used software might be marked as `red`, indicating that it should only be shared with a small group of highly trusted individuals who need to know in order to take appropriate action. On the other hand, a message containing more general information about security threats might be marked as `amber` or `green`, indicating that it can be shared more broadly within an organization.'
          type: string
          enum:
          - white
          - green
          - red
          - amber
        x_mitre_data_sources:
          example:
          - string
          description: ATT&CK Technique.Data Sources.
          type: array
          items:
            type: string
        kill_chain_phases:
          example:
          - kill_chain_name: string
            phase_name: string
          description: A kill chain is a series of steps that an attacker must go through to successfully achieve their objective. The concept was originally developed by the military, but has been adapted to the cybersecurity field to describe the steps an attacker goes through to compromise a target system and achieve their goal.
          type: array
          items:
            $ref: '#/components/schemas/KillChainPhase'
        client_id:
          type: string
        x_mitre_contributors:
          example:
          - string
          description: ATT&CK Technique.Contributors.
          type: array
          items:
            type: string
        timestamp:
          example: '2016-01-01T01:01:01.000Z'
          description: The time this object was created at, or last modified.
          type: string
          format: date-time
      additionalProperties: false
      required:
      - description
      - schema_version
      - type
      - short_description
      - title
      - id
    Assertion:
      example:
        name: cisco:ctr:ad:host_domain_name
        value: string
      type: object
      properties:
        name:
          example: cisco:ctr:ad:host_domain_name
          description: An open vocabulary containing well known assertion types
          type: string
        value:
          example: string
          type: string
      additionalProperties: false
      required:
      - name
      - value
    LibraryLoadType:
      example:
        time:
          start_time: '2016-01-01T01:01:01.000Z'
          end_time: '2016-01-01T01:01:01.000Z'
        process_id: 10
        process_name: string
        process_guid: 10
        process_username: string
        type: LibraryLoadEvent
        dll_library_name: string
        dll_library_path: string
      type: object
      properties:
        time:
          $ref: '#/components/schemas/ObservedTime'
        process_id:
          example: 10
          type: integer
          format: int64
        process_name:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_guid:
          example: 10
          type: integer
          format: int64
        process_username:
          example: string
          description: String with at most 1024 characters.
          type: string
        type:
          example: LibraryLoadEvent
          type: string
          enum:
          - LibraryLoadEvent
        dll_library_name:
          example: string
          description: String with at most 1024 characters.
          type: string
        dll_library_path:
          example: string
          description: String with at most 2048 characters.
          type: string
      additionalProperties: false
      required:
      - time
      - process_id
      - process_name
      - type
      - dll_library_name
      - dll_library_path
    CompositeIndicatorExpression:
      example:
        operator: and
        indicator_ids:
        - string
      type: object
      properties:
        operator:
          example: and
          type: string
          enum:
          - not
          - or
          - and
        indicator_ids:
          example:
          - string
          type: array
          items:
            type: string
      additionalProperties: false
      required:
      - operator
      - indicator_ids
    NormalizedError-500:
      example:
        error: unknown server error
        error_description: An unknown error has occurred during the enrichment
        trace_id: 2e790e2c-e7fe-42ed-a18b-7413d9f1f4b0
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        error_code:
          type: string
        error_uri:
          type: string
        trace_id:
          type: string
        schema.core.AnythingSchema@3c6f0b88: {}
      additionalProperties: {}
    OperatingSystem:
      example:
        prevalence: Often
        name: string
        version: string
        cpe_id: string
        class: Android
      type: object
      properties:
        prevalence:
          example: Often
          description: Defines the different regularities that guide the applicability of platforms.
          type: string
          enum:
          - Undetermined
          - Sometimes
          - Often
          - Rarely
        name:
          example: string
          description: String with at most 1024 characters.
          type: string
        version:
          example: string
          description: String with at most 1024 characters.
          type: string
        cpe_id:
          example: string
          description: String with at most 1024 characters.
          type: string
        class:
          example: Android
          description: Class of Operating System.
          type: string
      additionalProperties: false
      required:
      - prevalence
    NetflowType:
      example:
        parent_process_name: string
        byte_count_in: 10
        process_guid: 10
        process_path: string
        traffic:
          destination_host_name: string
          protocol: 10
          source_ip: string
          destination_subnet: string
          destination_ip: string
          source_subnet: string
          destination_port: 10
          direction: incoming
          source_port: 10
        flow_time: '2016-01-01T01:01:01.000Z'
        time:
          start_time: '2016-01-01T01:01:01.000Z'
          end_time: '2016-01-01T01:01:01.000Z'
        parent_process_account: string
        type: NetflowEvent
        process_account_type: string
        parent_process_path: string
        parent_process_id: 10
        parent_process_args: string
        process_name: string
        process_account: string
        parent_process_account_type: string
        process_hash: string
        process_id: 10
        parent_process_hash: string
        process_username: string
        byte_count_out: 10
        process_args: string
      type: object
      properties:
        parent_process_name:
          example: string
          description: String with at most 1024 characters.
          type: string
        byte_count_in:
          example: 10
          type: integer
          format: int64
        process_guid:
          example: 10
          type: integer
          format: int64
        process_path:
          example: string
          description: String with at most 1024 characters.
          type: string
        traffic:
          $ref: '#/components/schemas/Traffic'
        flow_time:
          example: '2016-01-01T01:01:01.000Z'
          description: Schema definition for all date or timestamp values.  Serialized as a string, the field should follow the rules of the [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) standard.
          type: string
          format: date-time
        time:
          $ref: '#/components/schemas/ObservedTime'
        parent_process_account:
          example: string
          description: String with at most 1024 characters.
          type: string
        type:
          example: NetflowEvent
          type: string
          enum:
          - NetflowEvent
        process_account_type:
          example: string
          description: String with at most 1024 characters.
          type: string
        parent_process_path:
          example: string
          description: String with at most 1024 characters.
          type: string
        parent_process_id:
          example: 10
          type: integer
          format: int64
        parent_process_args:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_name:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_account:
          example: string
          description: String with at most 1024 characters.
          type: string
        parent_process_account_type:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_hash:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_id:
          example: 10
          type: integer
          format: int64
        parent_process_hash:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_username:
          example: string
          description: String with at most 1024 characters.
          type: string
        byte_count_out:
          example: 10
          type: integer
          format: int64
        process_args:
          example: string
          description: String with at most 1024 characters.
          type: string
      additionalProperties: false
      required:
      - traffic
      - time
      - type
      - process_name
      - process_id
    OpenIOCSpecification:
      example:
        type: OpenIOC
        open_IOC: string
      description: An indicator which contains an XML blob of an openIOC indicator.
      type: object
      properties:
        type:
          example: OpenIOC
          type: string
          enum:
          - OpenIOC
        open_IOC:
          example: string
          type: string
      additionalProperties: false
      required:
      - type
      - open_IOC
    ObservedTime:
      example:
        start_time: '2016-01-01T01:01:01.000Z'
        end_time: '2016-01-01T01:01:01.000Z'
      description: Period of time when a cyber observation is valid. `start_time` must come before `end_time` (if specified).
      type: object
      properties:
        start_time:
          example: '2016-01-01T01:01:01.000Z'
          description: Time of the observation. If the observation was made over a period of time, than this field indicates the start of that period.
          type: string
          format: date-time
        end_time:
          example: '2016-01-01T01:01:01.000Z'
          description: If the observation was made over a period of time, than this field indicates the end of that period.
          type: string
          format: date-time
      additionalProperties: false
      required:
      - start_time
    ActionType:
      example:
        type: alert
      type: object
      properties:
        type:
          example: alert
          type: string
          enum:
          - stop
          - save
          - delete
          - remediate
          - redirect
          - alert
          - query
          - augment
          - snapshot
          - update
          - allow
          - scan
          - investigate
          - modify
          - sync
          - start
          - pause
          - deny
          - substitute
          - distill
          - move
          - restart
          - other
          - detonate
          - response
          - set
          - notify
          - report
          - restore
          - get
          - throttle
          - mitigate
          - resume
          - locate
          - contain
      additionalProperties: false
      required:
      - type
    Incident:
      type: object
      properties:
        description:
          example: string
          description: A description of object, which may be detailed.
          type: string
        assignees:
          example:
          - string
          description: A set of owners assigned to this incident.
          type: array
          items:
            type: string
        detection_sources:
          example:
          - string
          description: A set of sources that contributed threat detections to the incident.
          type: array
          items:
            type: string
        meta:
          $ref: '#/components/schemas/MetaData'
        schema_version:
          example: 1.3.30
          description: CTIM schema version for this entity.
          type: string
        revision:
          example: 10
          description: A monotonically increasing revision, incremented each time the object is changed.
          type: integer
          format: int64
        type:
          example: incident
          type: string
          enum:
          - incident
        created:
          type: string
          format: date-time
        source:
          example: string
          description: Represents the source of the intelligence that led to the creation of the entity.
          type: string
        external_ids:
          example:
          - string
          description: "It is used to store a list of external identifiers that can be linked to the incident, providing a reliable and manageable way to correlate and group related events across multiple data sources. It is especially useful in larger organizations that rely on multiple security information and event management (SIEM) systems to detect security incidents. For instance, it can be used to track events across different network sensors, intrusion detection and prevention systems (IDPS), or log management platforms. \n The field can also be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. It can be used to cross-reference with other external tools such as threat intelligence feeds and vulnerability scanners."
          type: array
          items:
            type: string
        modified:
          type: string
          format: date-time
        short_description:
          example: string
          description: A single line, short summary of the object.
          type: string
        title:
          example: string
          description: A short title for this object, used as primary display and reference value.
          type: string
        incident_time:
          $ref: '#/components/schemas/IncidentTime'
        external_references:
          example:
          - source_name: string
            description: string
            url: string
            hashes:
            - string
            external_id: string
          description: "Specifies a list of external references which refers to non-CTIM information.\n\nSimilar to `external_ids` field with major differences:\n\n- `external_ids` field is used to store a list of external identifiers that can be used to link entities across different data sources. These identifiers are typically standardized and well-known, such as CVE IDs, US-CERT advisories, or other industry-standard threat intelligence feeds. The `external_ids` field can be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. \n\n- `external_references` field, on the other hand, is used to provide a more general mechanism for linking entities to external sources of information. The `external_references` field can include references to blog posts, articles, external documents, threat intelligence reports, and other sources of information that may not have a standardized format or identifier."
          type: array
          items:
            $ref: '#/components/schemas/ExternalReference'
        discovery_method:
          example: Agent Disclosure
          description: Identifies how the incident was discovered.
          type: string
        source_uri:
          example: string
          description: URI of the source of the intelligence that led to the creation of the entity.
          type: string
        intended_effect:
          example: Account Takeover
          description: Specifies the suspected intended effect of this incident
          type: string
        categories:
          example:
          - Attrition
          description: A set of categories for this incident.
          type: array
          items:
            type: string
        status:
          example: Closed
          description: The `status` field represents the current state of an incident within the incident management process. Its values help in tracking and reporting the progress of the incident from its discovery to its resolution.
          type: string
          enum:
          - New
          - Closed
          - 'Open: Recovered'
          - 'Closed: Other'
          - 'Hold: Internal'
          - 'Hold: Legal'
          - 'Closed: Under Review'
          - Rejected
          - Open
          - 'Closed: Merged'
          - Restoration Achieved
          - Incident Reported
          - 'Closed: Suspected'
          - Stalled
          - 'Open: Contained'
          - 'Closed: Near-Miss'
          - 'Hold: External'
          - Containment Achieved
          - 'New: Processing'
          - 'Closed: Confirmed Threat'
          - 'Closed: False Positive'
          - 'Open: Reported'
          - 'Open: Investigating'
          - Hold
          - 'New: Presented'
        language:
          example: string
          description: 'The `language` field is used to specify the primary language of the affected system or the target of an attack. It can be used to provide additional context and information about the entity. The primary purpose of this field is to help analysts filter and prioritize entities based on their knowledge and expertise of different languages.


            For example, if an incident involves an attack on a system in a country where a specific language is predominant, the `language` field can be used to indicate that language, which can help analysts to quickly identify and respond to incidents that may be geographically or culturally relevant. This information can be used to prioritize incidents based on their potential impact. The `language` field can also be used to help with correlation of incidents across different systems and regions, as well as to help with data analysis and reporting.'
          type: string
        detection_status:
          example: active
          description: Represents the state of an incident within the incident generation process, indicating whether the incident is actively receiving updates or is no longer being updated.
          type: string
          enum:
          - inactive_oversized
          - inactive_user_closed
          - active
          - inactive_merged
          - inactive_expired
        id:
          example: string
          description: Globally unique URI identifying this object.
          type: string
        promotion_method:
          example: Automated
          description: Describes method for promoting an Incident, whether manually or automatically. An Incident may be created manually by a SOAR analyst or SOC operator, or through an automated correlation or aggregation rule or engine that matches a specific set of events or alerts, and promotes them to Incident(s).
          type: string
          enum:
          - Automated
          - Manual
        severity:
          example: Critical
          description: "Represents the potential impact of an incident on an organization's security posture and business operations. It helps organizations prioritize and allocate resources for incident response based on the severity level of the incident \nIt helps analysts and incident handlers prioritize incidents by indicating the level of risk and potential impact associated with the incident. This enables organizations to allocate resources efficiently and address the most critical incidents first.\nCan also be used to generate reports and metrics for measuring the effectiveness of the incident response process and to identify trends and patterns in the threat landscape.\nIt is important to note that the `severity` field is subjective and can be interpreted differently by different organizations or analysts. Therefore, it should be used in conjunction with other intelligence attributes, such as the `confidence` field, to provide a more comprehensive view of the incident."
          type: string
          enum:
          - Medium
          - Info
          - Unknown
          - None
          - High
          - Critical
          - Low
        tlp:
          example: green
          description: 'TLP stands for [Traffic Light Protocol](https://www.us-cert.gov/tlp), which indicates precisely how a resource is intended to be shared, replicated, copied, etc.


            It is used to indicate the sensitivity of the information contained within the message. This allows recipients to determine the appropriate handling and dissemination of the information based on their clearance level and need-to-know.


            For example, an entity containing information about a critical vulnerability in a widely-used software might be marked as `red`, indicating that it should only be shared with a small group of highly trusted individuals who need to know in order to take appropriate action. On the other hand, a message containing more general information about security threats might be marked as `amber` or `green`, indicating that it can be shared more broadly within an organization.'
          type: string
          enum:
          - white
          - green
          - red
          - amber
        scores:
          $ref: '#/components/schemas/IncidentScores'
        client_id:
          type: string
        techniques:
          example:
          - string
          description: Represents the specific methods or actions used by an attacker to carry out an offensive maneuver or achieve their goals.
          type: array
          items:
            type: string
        timestamp:
          example: '2016-01-01T01:01:01.000Z'
          description: The time this object was created at, or last modified.
          type: string
          format: date-time
        confidence:
          example: High
          description: 'Represents the level of certainty or trustworthiness associated with the incident. It denotes the reliability of the intelligence associated with the incident.

            The `confidence` field can take on several values, including:

            - `info`: Indicates that the incident information is based on sources with no previous track record or there is no track record for the source reporting the incident.

            - `low`: Indicates that the incident information is based on sources with a questionable track record or there is limited information about the accuracy of the source.

            - `medium`: Indicates that the incident information is based on sources with a mixed track record or of uncertain reliability.

            - `high`: Indicates that the incident information is based on sources with a proven track record and high degree of reliability.

            The `confidence` field can be used to indicate the level of trust and confidence that can be attributed to the incident, and it may impact how the incident is prioritized, analyzed and addressed. It can also help in the decision-making process associated with the incident response activities.

            It is important to note that the `confidence` field is subjective and can be interpreted differently by different organizations or analysts. As such, it is often used in conjunction with other intelligence attributes, such as the `severity` field, to provide a more complete picture of the incident.'
          type: string
          enum:
          - Medium
          - Info
          - Unknown
          - None
          - High
          - Low
        short_id:
          example: string
          description: A human-readable, short identifier for the incident, unique within an organization.
          type: string
        tactics:
          example:
          - string
          description: Represents the offensive techniques, approaches, or procedures that an adversary may use to achieve their objectives during an attack. It helps in understanding the intent and capabilities of the adversary and can be used to identify indicators of attack (IoAs) or indicators of compromise (IoCs) that are associated with the adversary's tactics.
          type: array
          items:
            type: string
      additionalProperties: false
      required:
      - schema_version
      - type
      - incident_time
      - status
      - id
      - confidence
    CVSSv2:
      example:
        integrity_impact: complete
        target_distribution: not_defined
        availability_requirement: not_defined
        exploitability: not_defined
        access_complexity: low
        temporal_vector_string: string
        exploitability_score: 10.0
        impact_score: 10.0
        user_interaction_required: true
        environmental_vector_string: string
        obtain_other_privilege: true
        availability_impact: complete
        access_vector: network
        base_severity: High
        confidentiality_impact: complete
        confidentiality_requirement: not_defined
        report_confidence: not_defined
        authentication: none
        base_score: 10.0
        obtain_user_privilege: true
        obtain_all_privilege: true
        collateral_damage_potential: not_defined
        remediation_level: not_defined
        vector_string: string
        integrity_requirement: not_defined
      type: object
      properties:
        integrity_impact:
          example: complete
          description: This metric measures the impact to integrity of a successfully exploited vulnerability. Integrity refers to the trustworthiness and guaranteed veracity of information. Increased integrity impact increases the vulnerability score.
          type: string
          enum:
          - partial
          - none
          - complete
        target_distribution:
          example: not_defined
          description: This metric measures the proportion of vulnerable systems. It is meant as an environment-specific indicator in order to approximate the percentage of systems that could be affected by the vulnerability. The greater the proportion of vulnerable systems, the higher the score.
          type: string
          enum:
          - low
          - none
          - high
          - medium
          - not_defined
        availability_requirement:
          example: not_defined
          description: 'These metrics enable the analyst to customize the CVSS score depending on the importance of the affected IT asset to a users organization, measured in terms of confidentiality, integrity, and availability, That is, if an IT asset supports a business function for which availability is most important, the analyst can assign a greater value to availability, relative to confidentiality and integrity. Each security requirement has three possible values: low, medium, or high.'
          type: string
          enum:
          - low
          - high
          - medium
          - not_defined
        exploitability:
          example: not_defined
          description: This metric measures the current state of exploit techniques or code availability. Public availability of easy-to-use exploit code increases the number of potential attackers by including those who are unskilled thereby increasing the severity of the vulnerability.
          type: string
          enum:
          - high
          - unproven
          - functional
          - proof_of_concept
          - not_defined
        access_complexity:
          example: low
          description: 'This metric measures the complexity of the attack required to exploit the vulnerability once an attacker has gained access to the target system. For example, consider a buffer overflow in an Internet service: once the target system is located, the attacker can launch an exploit at will.'
          type: string
          enum:
          - low
          - high
          - medium
        temporal_vector_string:
          example: string
          description: A text representation of a set of CVSSv2 temporal metrics. Temporal metrics allow analysists to calculate threat severity based on temporal factors such as reliability of vulnerability reports, availability of mitigations, and the ease or difficulty of conducting the exploit. It is commonly used to record or transfer CVSSv2 metric information in a concise form
          type: string
        exploitability_score:
          example: 10.0
          description: a Score number from 0 to 10
          type: number
          format: double
        impact_score:
          example: 10.0
          description: a Score number from 0 to 10
          type: number
          format: double
        user_interaction_required:
          example: true
          type: boolean
        environmental_vector_string:
          example: string
          description: A text representation of a set of CVSSv2 environmental metrics. Environmental metrics allow analysists to calculate threat scores in relation to environmental security requirements, collateral damage potential, and target availability. It is commonly used to record or transfer CVSSv2 metric information in a concise form
          type: string
        obtain_other_privilege:
          example: true
          type: boolean
        availability_impact:
          example: complete
          description: This metric measures the impact to availability of a successfully exploited vulnerability. Availability refers to the accessibility of information resources. Attacks that consume network bandwidth, processor cycles, or disk space all impact the availability of a system. Increased availability impact increases the vulnerability score.
          type: string
          enum:
          - partial
          - none
          - complete
        access_vector:
          example: network
          description: This metric reflects how the vulnerability is exploited.The more remote an attacker can be to attack a host, the greater the vulnerability score.
          type: string
          enum:
          - network
          - adjacent network
          - local
        base_severity:
          example: High
          type: string
          enum:
          - Medium
          - Info
          - Unknown
          - None
          - High
          - Low
        confidentiality_impact:
          example: complete
          description: This metric measures the impact on confidentiality of a successfully exploited vulnerability. Confidentiality refers to limiting information access and disclosure to only authorized users, as well as preventing access by, or disclosure to, unauthorized ones. Increasedconfidentiality impact increases the vulnerability score.
          type: string
          enum:
          - partial
          - none
          - complete
        confidentiality_requirement:
          example: not_defined
          description: 'These metrics enable the analyst to customize the CVSS score depending on the importance of the affected IT asset to a users organization, measured in terms of confidentiality, integrity, and availability, That is, if an IT asset supports a business function for which availability is most important, the analyst can assign a greater value to availability, relative to confidentiality and integrity. Each security requirement has three possible values: low, medium, or high.'
          type: string
          enum:
          - low
          - high
          - medium
          - not_defined
        report_confidence:
          example: not_defined
          description: This metric measures the degree of confidence in the existence of the vulnerability and the credibility of the known technical details. Sometimes, only the existence of vulnerabilities are publicized, but without specific details. The vulnerability may later be corroborated and then confirmed through acknowledgement by the author or vendor of the affected technology. The urgency of a vulnerability is higher when a vulnerability is known to exist with certainty. This metric also suggests the level of technical knowledge available to would-be attackers. The more a vulnerability is validated by the vendor or other reputable sources, the higher the score.
          type: string
          enum:
          - uncorroborated
          - unconfirmed
          - confirmed
          - not_defined
        authentication:
          example: none
          description: This metric measures the number of times an attacker must authenticate to a target in order to exploit a vulnerability. This metric does not gauge the strength or complexity of the authentication process, only that an attacker is required to provide credentials before an exploit may occur. The fewer authentication instances that are required, the higher the vulnerability score.
          type: string
          enum:
          - none
          - single
          - multiple
        base_score:
          example: 10.0
          description: 'The base score is a key metric in CVSS, which uses a scoring system to determine the level of severity of a vulnerability. see: https://www.first.org/cvss/v2/guide'
          type: number
          format: double
        obtain_user_privilege:
          example: true
          type: boolean
        obtain_all_privilege:
          example: true
          type: boolean
        collateral_damage_potential:
          example: not_defined
          description: This metric measures the potential for loss of life or physical assets through damage or theft of property or equipment.  The metric may also measure economic loss of productivity or revenue. Naturally, the greater the damage potential, the higher the vulnerability score.
          type: string
          enum:
          - low
          - none
          - high
          - medium_high
          - low_medium
          - not_defined
        remediation_level:
          example: not_defined
          description: The remediation level of a vulnerability is an important factor for prioritization. The typical vulnerability is unpatched when initially published. Workarounds or hotfixes may offer interim remediation until an official patch or upgrade is issued. Each of these respective stages adjusts the temporal score downwards, reflecting the decreasing urgency as remediation becomes final. The less official and permanent a fix, the higher the vulnerability score is.
          type: string
          enum:
          - temporary_fix
          - workaround
          - official_fix
          - unavailable
          - not_defined
        vector_string:
          example: string
          description: a text representation of a set of CVSSv2 metrics. It is commonly used to record or transfer CVSSv2 metric information in a concise form
          type: string
        integrity_requirement:
          example: not_defined
          description: 'These metrics enable the analyst to customize the CVSS score depending on the importance of the affected IT asset to a users organization, measured in terms of confidentiality, integrity, and availability, That is, if an IT asset supports a business function for which availability is most important, the analyst can assign a greater value to availability, relative to confidentiality and integrity. Each security requirement has three possible values: low, medium, or high.'
          type: string
          enum:
          - low
          - high
          - medium
          - not_defined
      additionalProperties: false
      required:
      - base_severity
      - base_score
      - vector_string
    RegistryDeleteType:
      example:
        time:
          start_time: '2016-01-01T01:01:01.000Z'
          end_time: '2016-01-01T01:01:01.000Z'
        process_id: 10
        process_name: string
        process_guid: 10
        process_username: string
        registry_key: string
        type: RegistryDeleteEvent
        registry_value: string
      type: object
      properties:
        time:
          $ref: '#/components/schemas/ObservedTime'
        process_id:
          example: 10
          type: integer
          format: int64
        process_name:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_guid:
          example: 10
          type: integer
          format: int64
        process_username:
          example: string
          description: String with at most 1024 characters.
          type: string
        registry_key:
          example: string
          description: String with at most 1024 characters.
          type: string
        type:
          example: RegistryDeleteEvent
          type: string
          enum:
          - RegistryDeleteEvent
        registry_value:
          example: string
          description: String with at most 2048 characters.
          type: string
      additionalProperties: false
      required:
      - time
      - process_id
      - process_name
      - registry_key
      - type
    MetaData:
      example:
        keyword: string
      description: metadata associated to the incident.
      type: object
      additionalProperties:
        example: string
        description: custom field relevant to attach meta data to.
        x-oneOf:
        - example: string
          type: string
        - example: 10.0
          type: number
          format: double
        - example: '2016-01-01T01:01:01.000Z'
          type: string
          format: date-time
        - example: keyword
          type: string
        - example: true
          type: boolean
    Tool:
      type: object
      properties:
        description:
          example: string
          description: A description of object, which may be detailed.
          type: string
        labels:
          example:
          - credential-exploitation
          description: The kind(s) of tool(s) being described.
          type: array
          items:
            type: string
        schema_version:
          example: 1.3.30
          description: CTIM schema version for this entity.
          type: string
        revision:
          example: 10
          description: A monotonically increasing revision, incremented each time the object is changed.
          type: integer
          format: int64
        type:
          example: tool
          type: string
          enum:
          - tool
        created:
          type: string
          format: date-time
        x_mitre_aliases:
          example:
          - string
          description: ATT&CK Software.aliases.
          type: array
          items:
            type: string
        source:
          example: string
          description: Represents the source of the intelligence that led to the creation of the entity.
          type: string
        external_ids:
          example:
          - string
          description: "It is used to store a list of external identifiers that can be linked to the incident, providing a reliable and manageable way to correlate and group related events across multiple data sources. It is especially useful in larger organizations that rely on multiple security information and event management (SIEM) systems to detect security incidents. For instance, it can be used to track events across different network sensors, intrusion detection and prevention systems (IDPS), or log management platforms. \n The field can also be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. It can be used to cross-reference with other external tools such as threat intelligence feeds and vulnerability scanners."
          type: array
          items:
            type: string
        modified:
          type: string
          format: date-time
        short_description:
          example: string
          description: A single line, short summary of the object.
          type: string
        title:
          example: string
          description: A short title for this object, used as primary display and reference value.
          type: string
        external_references:
          example:
          - source_name: string
            description: string
            url: string
            hashes:
            - string
            external_id: string
          description: "Specifies a list of external references which refers to non-CTIM information.\n\nSimilar to `external_ids` field with major differences:\n\n- `external_ids` field is used to store a list of external identifiers that can be used to link entities across different data sources. These identifiers are typically standardized and well-known, such as CVE IDs, US-CERT advisories, or other industry-standard threat intelligence feeds. The `external_ids` field can be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. \n\n- `external_references` field, on the other hand, is used to provide a more general mechanism for linking entities to external sources of information. The `external_references` field can include references to blog posts, articles, external documents, threat intelligence reports, and other sources of information that may not have a standardized format or identifier."
          type: array
          items:
            $ref: '#/components/schemas/ExternalReference'
        source_uri:
          example: string
          description: URI of the source of the intelligence that led to the creation of the entity.
          type: string
        language:
          example: string
          description: 'The `language` field is used to specify the primary language of the affected system or the target of an attack. It can be used to provide additional context and information about the entity. The primary purpose of this field is to help analysts filter and prioritize entities based on their knowledge and expertise of different languages.


            For example, if an incident involves an attack on a system in a country where a specific language is predominant, the `language` field can be used to indicate that language, which can help analysts to quickly identify and respond to incidents that may be geographically or culturally relevant. This information can be used to prioritize incidents based on their potential impact. The `language` field can also be used to help with correlation of incidents across different systems and regions, as well as to help with data analysis and reporting.'
          type: string
        id:
          example: string
          description: Globally unique URI identifying this object.
          type: string
        tool_version:
          example: string
          description: The version identifier associated with the Tool.
          type: string
        tlp:
          example: green
          description: 'TLP stands for [Traffic Light Protocol](https://www.us-cert.gov/tlp), which indicates precisely how a resource is intended to be shared, replicated, copied, etc.


            It is used to indicate the sensitivity of the information contained within the message. This allows recipients to determine the appropriate handling and dissemination of the information based on their clearance level and need-to-know.


            For example, an entity containing information about a critical vulnerability in a widely-used software might be marked as `red`, indicating that it should only be shared with a small group of highly trusted individuals who need to know in order to take appropriate action. On the other hand, a message containing more general information about security threats might be marked as `amber` or `green`, indicating that it can be shared more broadly within an organization.'
          type: string
          enum:
          - white
          - green
          - red
          - amber
        kill_chain_phases:
          example:
          - kill_chain_name: string
            phase_name: string
          description: The list of kill chain phases for which this Tool can be used.
          type: array
          items:
            $ref: '#/components/schemas/KillChainPhase'
        client_id:
          type: string
        timestamp:
          example: '2016-01-01T01:01:01.000Z'
          description: The time this object was created at, or last modified.
          type: string
          format: date-time
      additionalProperties: false
      required:
      - description
      - labels
      - schema_version
      - type
      - short_description
      - title
      - id
    DeliberateEnvelopedObserveBundleDataDataFeedbacks:
      type: object
      properties:
        count:
          type: number
          format: double
        docs:
          type: array
          items:
            $ref: '#/components/schemas/Feedback'
          uniqueItems: true
      additionalProperties: false
      required:
      - count
      - docs
    Weakness:
      type: object
      properties:
        description:
          example: string
          description: Should be short and limited to the key points that define this weakness.
          type: string
        background_details:
          example: string
          description: Information that is relevant but not related to the nature of the weakness itself.
          type: string
        paradigms:
          example:
          - prevalence: Often
            name: string
          description: Applicable paradigms.
          type: array
          items:
            $ref: '#/components/schemas/Paradigm'
        abstraction_level:
          example: Base
          description: Refers to the level of abstraction or granularity used to describe the weakness. It helps to categorize the vulnerability based on the level of detail provided.
          type: string
          enum:
          - Variant
          - Class
          - Base
          - Compound
        architectures:
          example:
          - prevalence: Often
            name: string
            class: Embedded
          description: Applicable architectures.
          type: array
          items:
            $ref: '#/components/schemas/Architecture'
        schema_version:
          example: 1.3.30
          description: CTIM schema version for this entity.
          type: string
        revision:
          example: 10
          description: A monotonically increasing revision, incremented each time the object is changed.
          type: integer
          format: int64
        alternate_terms:
          example:
          - term: string
            description: string
          description: Indicates one or more other names used to describe this weakness.
          type: array
          items:
            $ref: '#/components/schemas/AlternateTerm'
        likelihood:
          example: High
          description: Likelihood of exploit.
          type: string
          enum:
          - Medium
          - Info
          - Unknown
          - None
          - High
          - Low
        type:
          example: weakness
          description: The fixed value weakness
          type: string
          enum:
          - weakness
        created:
          type: string
          format: date-time
        source:
          example: string
          description: Represents the source of the intelligence that led to the creation of the entity.
          type: string
        external_ids:
          example:
          - string
          description: "It is used to store a list of external identifiers that can be linked to the incident, providing a reliable and manageable way to correlate and group related events across multiple data sources. It is especially useful in larger organizations that rely on multiple security information and event management (SIEM) systems to detect security incidents. For instance, it can be used to track events across different network sensors, intrusion detection and prevention systems (IDPS), or log management platforms. \n The field can also be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. It can be used to cross-reference with other external tools such as threat intelligence feeds and vulnerability scanners."
          type: array
          items:
            type: string
        modified:
          type: string
          format: date-time
        short_description:
          example: string
          description: A single line, short summary of the object.
          type: string
        title:
          example: string
          description: A short title for this object, used as primary display and reference value.
          type: string
        external_references:
          example:
          - source_name: string
            description: string
            url: string
            hashes:
            - string
            external_id: string
          description: "Specifies a list of external references which refers to non-CTIM information.\n\nSimilar to `external_ids` field with major differences:\n\n- `external_ids` field is used to store a list of external identifiers that can be used to link entities across different data sources. These identifiers are typically standardized and well-known, such as CVE IDs, US-CERT advisories, or other industry-standard threat intelligence feeds. The `external_ids` field can be used to facilitate automation and orchestration workflows, where additional information can be shared among incident management systems. \n\n- `external_references` field, on the other hand, is used to provide a more general mechanism for linking entities to external sources of information. The `external_references` field can include references to blog posts, articles, external documents, threat intelligence reports, and other sources of information that may not have a standardized format or identifier."
          type: array
          items:
            $ref: '#/components/schemas/ExternalReference'
        functional_areas:
          example:
          - Authentication
          description: Identifies the functional area of the software in which the weakness is most likely to occur.
          type: array
          items:
            type: string
        source_uri:
          example: string
          description: URI of the source of the intelligence that led to the creation of the entity.
          type: string
        modes_of_introduction:
          example:
          - phase: Architecture and Design
            note: string
          description: Information about how and when a given weakness may be introduced.
          type: array
          items:
            $ref: '#/components/schemas/ModeOfIntroduction'
        structure:
          example: Chain
          description: Defines the structural nature of the weakness.
          type: string
          enum:
          - Chain
          - Simple
          - Composite
        language:
          example: string
          description: 'The `language` field is used to specify the primary language of the affected system or the target of an attack. It can be used to provide additional context and information about the entity. The primary purpose of this field is to help analysts filter and prioritize entities based on their knowledge and expertise of different languages.


            For example, if an incident involves an attack on a system in a country where a specific language is predominant, the `language` field can be used to indicate that language, which can help analysts to quickly identify and respond to incidents that may be geographically or culturally relevant. This information can be used to prioritize incidents based on their potential impact. The `language` field can also be used to help with correlation of incidents across different systems and regions, as well as to help with data analysis and reporting.'
          type: string
        id:
          example: string
          description: Globally unique URI identifying this object.
          type: string
        notes:
          example:
          - type: Applicable Platform
            note: string
          description: Provides any additional comments about the weakness.
          type: array
          items:
            $ref: '#/components/schemas/Note'
        common_consequences:
          example:
          - scopes:
            - Access Control
            impacts:
            - Alter Execution Logic
            likelihood: High
            note: string
          description: Refers to the typical or expected negative effects that can result from exploiting the weakness. This could include anything from unauthorized access to data, denial of service, system crashes or other things.
          type: array
          items:
            $ref: '#/components/schemas/Consequence'
        tlp:
          example: green
          description: 'TLP stands for [Traffic Light Protocol](https://www.us-cert.gov/tlp), which indicates precisely how a resource is intended to be shared, replicated, copied, etc.


            It is used to indicate the sensitivity of the information contained within the message. This allows recipients to determine the appropriate handling and dissemination of the information based on their clearance level and need-to-know.


            For example, an entity containing information about a critical vulnerability in a widely-used software might be marked as `red`, indicating that it should only be shared with a small group of highly trusted individuals who need to know in order to take appropriate action. On the other hand, a message containing more general information about security threats might be marked as `amber` or `green`, indicating that it can be shared more broadly within an organization.'
          type: string
          enum:
          - white
          - green
          - red
          - amber
        detection_methods:
          example:
          - method: Architecture or Design Review
            description: string
            effectiveness: High
            effectiveness_notes: string
          description: Identifies methods that may be employed to detect this weakness, including their strengths and limitations.
          type: array
          items:
            $ref: '#/components/schemas/DetectionMethod'
        operating_systems:
          example:
          - prevalence: Often
            name: string
            version: string
            cpe_id: string
            class: Android
          description: Applicable operating systems.
          type: array
          items:
            $ref: '#/components/schemas/OperatingSystem'
        client_id:
          type: string
        affected_resources:
          example:
          - CPU
          description: Identifies system resources that can be affected by an exploit of this weakness.
          type: array
          items:
            type: string
        languages:
          example:
          - prevalence: Often
            name: string
            class: Assembly
          description: Applicable Languages.
          type: array
          items:
            $ref: '#/components/schemas/Language'
        timestamp:
          example: '2016-01-01T01:01:01.000Z'
          description: The time this object was created at, or last modified.
          type: string
          format: date-time
        potential_mitigations:
          example:
          - description: string
            phases:
            - Architecture and Design
            strategy: Attack Surface Reduction
            effectiveness: Defense in Depth
            effectiveness_notes: string
          description: Describes potential mitigations associated with a weakness.
          type: array
          items:
            $ref: '#/components/schemas/Mitigation'
        technologies:
          example:
          - prevalence: Often
            name: string
          description: Applicable technologies.
          type: array
          items:
            $ref: '#/components/schemas/Technology'
      additionalProperties: false
      required:
      - description
      - schema_version
      - type
      - id
    Context:
      example:
        http_events:
        - process_guid: 10
          traffic:
            destination_host_name: string
            protocol: 10
            source_ip: string
            destination_subnet: string
            destination_ip: string
            source_subnet: string
            destination_port: 10
            direction: incoming
            source_port: 10
          method: CONNECT
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          type: HTTPEvent
          host: string
          process_name: string
          process_id: 10
          process_username: string
          query: string
          encrypted: true
          url_port: 10
        process_create_events:
        - parent_process_name: string
          process_guid: 10
          parent_process_guid: 10
          process_disposition: string
          parent_process_size: 10
          process_size: 10
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          parent_process_disposition: string
          type: ProcessCreateEvent
          parent_process_username: string
          parent_process_id: 10
          parent_process_args: string
          process_name: string
          process_hash: string
          process_id: 10
          parent_process_hash: string
          process_username: string
          parent_creation_time: '2016-01-01T01:01:01.000Z'
          process_args: string
        registry_delete_events:
        - time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          process_id: 10
          process_name: string
          process_guid: 10
          process_username: string
          registry_key: string
          type: RegistryDeleteEvent
          registry_value: string
        file_modify_events:
        - file_name: string
          process_guid: 10
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          type: FileModifyEvent
          file_path: string
          process_name: string
          process_id: 10
          process_username: string
          failed: false
        registry_set_events:
        - process_guid: 10
          registry_data: string
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          type: RegistrySetEvent
          registry_data_length: 10
          registry_value: string
          registry_key: string
          process_name: string
          process_id: 10
          process_username: string
        file_create_events:
        - file_name: string
          process_guid: 10
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          type: FileCreateEvent
          file_path: string
          process_name: string
          process_id: 10
          process_username: string
          failed: false
        registry_create_events:
        - time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          process_id: 10
          process_name: string
          process_guid: 10
          process_username: string
          registry_key: string
          type: RegistryCreateEvent
        library_load_events:
        - time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          process_id: 10
          process_name: string
          process_guid: 10
          process_username: string
          type: LibraryLoadEvent
          dll_library_name: string
          dll_library_path: string
        file_move_events:
        - file_name: string
          process_guid: 10
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          type: FileMoveEvent
          old_name: string
          file_path: string
          process_name: string
          process_id: 10
          process_username: string
          new_name: string
        file_delete_events:
        - file_name: string
          process_guid: 10
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          type: FileDeleteEvent
          file_path: string
          process_name: string
          process_id: 10
          process_username: string
          failed: false
        netflow_events:
        - parent_process_name: string
          byte_count_in: 10
          process_guid: 10
          process_path: string
          traffic:
            destination_host_name: string
            protocol: 10
            source_ip: string
            destination_subnet: string
            destination_ip: string
            source_subnet: string
            destination_port: 10
            direction: incoming
            source_port: 10
          flow_time: '2016-01-01T01:01:01.000Z'
          time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          parent_process_account: string
          type: NetflowEvent
          process_account_type: string
          parent_process_path: string
          parent_process_id: 10
          parent_process_args: string
          process_name: string
          process_account: string
          parent_process_account_type: string
          process_hash: string
          process_id: 10
          parent_process_hash: string
          process_username: string
          byte_count_out: 10
          process_args: string
        registry_rename_events:
        - time:
            start_time: '2016-01-01T01:01:01.000Z'
            end_time: '2016-01-01T01:01:01.000Z'
          process_id: 10
          process_name: string
          process_guid: 10
          process_username: string
          registry_key: string
          type: RegistryRenameEvent
          registry_old_key: string
      description: Context including the event type that best fits the type of the sighting.
      type: object
      properties:
        http_events:
          example:
          - process_guid: 10
            traffic:
              destination_host_name: string
              protocol: 10
              source_ip: string
              destination_subnet: string
              destination_ip: string
              source_subnet: string
              destination_port: 10
              direction: incoming
              source_port: 10
            method: CONNECT
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            type: HTTPEvent
            host: string
            process_name: string
            process_id: 10
            process_username: string
            query: string
            encrypted: true
            url_port: 10
          description: a list of `HTTPType`
          type: array
          items:
            $ref: '#/components/schemas/HTTPType'
        process_create_events:
          example:
          - parent_process_name: string
            process_guid: 10
            parent_process_guid: 10
            process_disposition: string
            parent_process_size: 10
            process_size: 10
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            parent_process_disposition: string
            type: ProcessCreateEvent
            parent_process_username: string
            parent_process_id: 10
            parent_process_args: string
            process_name: string
            process_hash: string
            process_id: 10
            parent_process_hash: string
            process_username: string
            parent_creation_time: '2016-01-01T01:01:01.000Z'
            process_args: string
          description: a list of `ProcessCreate`
          type: array
          items:
            $ref: '#/components/schemas/ProcessCreateType'
        registry_delete_events:
          example:
          - time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            process_id: 10
            process_name: string
            process_guid: 10
            process_username: string
            registry_key: string
            type: RegistryDeleteEvent
            registry_value: string
          description: a list of `RegistryDeleteType`
          type: array
          items:
            $ref: '#/components/schemas/RegistryDeleteType'
        file_modify_events:
          example:
          - file_name: string
            process_guid: 10
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            type: FileModifyEvent
            file_path: string
            process_name: string
            process_id: 10
            process_username: string
            failed: false
          description: a list of `FileModifyType`
          type: array
          items:
            $ref: '#/components/schemas/FileModifyType'
        registry_set_events:
          example:
          - process_guid: 10
            registry_data: string
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            type: RegistrySetEvent
            registry_data_length: 10
            registry_value: string
            registry_key: string
            process_name: string
            process_id: 10
            process_username: string
          description: a list of `RegistrySetType`
          type: array
          items:
            $ref: '#/components/schemas/RegistrySetType'
        file_create_events:
          example:
          - file_name: string
            process_guid: 10
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            type: FileCreateEvent
            file_path: string
            process_name: string
            process_id: 10
            process_username: string
            failed: false
          description: a list of `FileCreateType`
          type: array
          items:
            $ref: '#/components/schemas/FileCreateType'
        registry_create_events:
          example:
          - time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            process_id: 10
            process_name: string
            process_guid: 10
            process_username: string
            registry_key: string
            type: RegistryCreateEvent
          description: a list of `RegistryCreateType`
          type: array
          items:
            $ref: '#/components/schemas/RegistryCreateType'
        library_load_events:
          example:
          - time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            process_id: 10
            process_name: string
            process_guid: 10
            process_username: string
            type: LibraryLoadEvent
            dll_library_name: string
            dll_library_path: string
          description: a list of `LibraryLoadType`
          type: array
          items:
            $ref: '#/components/schemas/LibraryLoadType'
        file_move_events:
          example:
          - file_name: string
            process_guid: 10
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            type: FileMoveEvent
            old_name: string
            file_path: string
            process_name: string
            process_id: 10
            process_username: string
            new_name: string
          description: a list of `FileMoveType`
          type: array
          items:
            $ref: '#/components/schemas/FileMoveType'
        file_delete_events:
          example:
          - file_name: string
            process_guid: 10
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            type: FileDeleteEvent
            file_path: string
            process_name: string
            process_id: 10
            process_username: string
            failed: false
          description: a list of `FileDeleteType`
          type: array
          items:
            $ref: '#/components/schemas/FileDeleteType'
        netflow_events:
          example:
          - parent_process_name: string
            byte_count_in: 10
            process_guid: 10
            process_path: string
            traffic:
              destination_host_name: string
              protocol: 10
              source_ip: string
              destination_subnet: string
              destination_ip: string
              source_subnet: string
              destination_port: 10
              direction: incoming
              source_port: 10
            flow_time: '2016-01-01T01:01:01.000Z'
            time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            parent_process_account: string
            type: NetflowEvent
            process_account_type: string
            parent_process_path: string
            parent_process_id: 10
            parent_process_args: string
            process_name: string
            process_account: string
            parent_process_account_type: string
            process_hash: string
            process_id: 10
            parent_process_hash: string
            process_username: string
            byte_count_out: 10
            process_args: string
          description: a list of `NetflowType`
          type: array
          items:
            $ref: '#/components/schemas/NetflowType'
        registry_rename_events:
          example:
          - time:
              start_time: '2016-01-01T01:01:01.000Z'
              end_time: '2016-01-01T01:01:01.000Z'
            process_id: 10
            process_name: string
            process_guid: 10
            process_username: string
            registry_key: string
            type: RegistryRenameEvent
            registry_old_key: string
          description: a list of `RegistryRenameType`
          type: array
          items:
            $ref: '#/components/schemas/RegistryRenameType'
      additionalProperties: false
    DeliberateEnvelopedObserveBundleDataDataVulnerabilities:
      type: object
      properties:
        count:
          type: number
          format: double
        docs:
          type: array
          items:
            $ref: '#/components/schemas/Vulnerability'
          uniqueItems: true
      additionalProperties: false
      required:
      - count
      - docs
    FileCreateType:
      example:
        file_name: string
        process_guid: 10
        time:
          start_time: '2016-01-01T01:01:01.000Z'
          end_time: '2016-01-01T01:01:01.000Z'
        type: FileCreateEvent
        file_path: string
        process_name: string
        process_id: 10
        process_username: string
        failed: false
      type: object
      properties:
        file_name:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_guid:
          example: 10
          type: integer
          format: int64
        time:
          $ref: '#/components/schemas/ObservedTime'
        type:
          example: FileCreateEvent
          type: string
          enum:
          - FileCreateEvent
        file_path:
          example: string
          description: String with at most 2048 characters.
          type: string
        process_name:
          example: string
          description: String with at most 1024 characters.
          type: string
        process_id:
          example: 10
          type: integer
          format: int64
        process_username:
          example: string
          description: String with at most 1024 characters.
          type: string
        failed:
          example: false
          type: boolean
      additionalProperties: false
      required:
      - file_name
      - time
      - type
      - file_path
      - process_name
      - process_id
    DeliberateEnvelopedObserveBundleData:
      type: object
      properties:
        module:
          type: string
        module_instance_id:
          type: string
        module_type_id:
          type: string
        module_instance_state:
          type: string
        data:
          $ref: '#/components/schemas/ModuleObserveBundle'
      additionalProperties: false
      required:
      - module
      - module_instance_id
      - module_type_id
      - data
    IncidentTime:
      example:
        opened: '2016-01-01T01:01:01.000Z'
        discovered: '2016-01-01T01:01:01.000Z'
        reported: '2016-01-01T01:01:01.000Z'
        remediated: '2016-01-01T01:01:01.000Z'
        closed: '2016-01-01T01:01:01.000Z'
        rejected: '2016-01-01T01:01:01.000Z'
        contained: '2016-01-01T01:01:01.000Z'
      description: Relevant time values associated with this Incident.
      type: object
      properties:
        opened:
          example: '2016-01-01T01:01:01.000Z'
          description: Time the incident was first opened.
          type: string
          format: date-time
        discovered:
          example: '2016-01-01T01:01:01.000Z'
          description: Time the incident was first discovered.
          type: string
          format: date-time
        reported:
          example: '2016-01-01T01:01:01.000Z'
          description: Time the incident was first reported.
          type: string
          format: date-time
        remediated:
          example: '2016-01-01T01:01:01.000Z'
          description: Time that the remediation of the damage from the incident was completed.
          type: string
          format: date-time
        closed:
          example: '2016-01-01T01:01:01.000Z'
          description: Time that the incident was last closed.
          type: string
          format: date-time
        rejected:
          example: '2016-01-01T01:01:01.000Z'
          description: Time that the incident was first rejected.
          type: string
          format: date-time
        contained:
          example: '2016-01-01T01:01:01.000Z'
          description: Time that the incident was first contained.
          type: string
          format: date-time
      additionalProperties: false
      required:
      - opened
    CPEMatch:
      example:
        vulnerable: true
        cpe23Uri: string
        versionStartIncluding: string
        versionEndIncluding: string
        versionStartExcluding: string
        versionEndExcluding: string
      type: object
      properties:
        vulnerable:
          example: true
          type: boolean
        cpe23Uri:
          example: string
          description: A text representation of a software or hardware platform.
          type: string
        versionStartIncluding:
          example: string
          description: A string representing the lower bound(inclusive) of version in the CPE.
          type: string
        versionEndIncluding:
          example: string
          description: A string representing the upper bound(inclusive) of version in the CPE.
          type: string
        versionStartExcluding:
          example: string
          description: A string representing the lower bound(exclusive) of version in the CPE.
          type: string
        versionEndExcluding:
          example: string
          description: A string representing the upper bound(exclusive) of version in the CPE.
          type: string
      additionalProperties: false
      required:
      - vulnerable
      - cpe23Uri
    DeliberateEnvelopedObserveBundleDataDataJudgements:
      type: object
      properties:
        count:
          type: number
          format: double
        docs:
          type: array
          items:
            $ref: '#/components/schemas/Judgement'
          uniqueItems: true
      additionalProperties: false
      required:
      - count
      - docs
    Mitigation:
      example:
        description: string
        phases:
        - Architecture and Design
        strategy: Attack Surface Reduction
        effectiveness: Defense in Depth
        effectiveness_notes: string
      type: object
      properties:
        description:
          example: string
          description: A description of this individual mitigation including any strengths and shortcomings of this mitigation for the weakness.
          type: string
        phases:
          example:
          - Architecture and Design
          description: Indicates the development life cycle phase during which this particular mitigation may be applied.
          type: array
          items:
            type: string
        strategy:
          example: Attack Surface Reduction
          description: A general strategy for protecting a system to which this mitigation contributes.
          type: string
        effectiveness:
          example: Defense in Depth
          description: Summarizes how effective the mitigation may be in preventing the weakness.
          type: string
        effectiveness_notes:
          example: string
          description: Markdown string with at most 5000 characters.
          type: string
      additionalProperties: false
      required:
      - description
    ModifierType:
      example:
        response: acknowledge
        method:
        - acl
        additional_properties:
          context: string
        time:
          start_time: '2016-01-01T01:01:01.000Z'
          end_time: '2016-01-01T01:01:01.000Z'
        frequency: string
        duration: '2016-01-01T01:01:01.000Z'
        source: string
        search: cve
        option: string
        id: string
        location: internal
        delay: '2016-01-01T01:01:01.000Z'
        destination: copy-to
      type: object
      properties:
        response:
          example: acknowledge
          type: string
          enum:
          - query
          - status
          - acknowledge
          - command-ref
        method:
          example:
          - acl
          type: array
          items:
            type: string
            enum:
            - blackhole
            - unauthenticated
            - suspend
            - graceful
            - hibernate
            - whitelist
            - honeypot
            - immediate
            - spawn
            - blacklist
            - acl
            - segmentation
            - authenticated
        additional_properties:
          $ref: '#/components/schemas/AdditionalProperties'
        time:
          $ref: '#/components/schemas/ValidTime'
        frequency:
          example: string
          description: String with at most 1024 characters.
          type: string
        duration:
          example: '2016-01-01T01:01:01.000Z'
          description: Schema definition for all date or timestamp values.  Serialized as a string, the field should follow the rules of the [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) standard.
          type: string
          format: date-time
        source:
          example: string
          description: String with at most 1024 characters.
          type: string
        search:
          example: cve
          type: string
          enum:
          - vendor_bulletin
          - patch
          - signature
          - cve
        option:
          example: string
          description: String with at most 1024 characters.
          type: string
        id:
          example: string
          description: String with at most 1024 characters.
          type: string
        location:
          example: internal
          type: string
          enum:
          - internal
          - perimeter
        delay:
          example: '2016-01-01T01:01:01.000Z'
          description: Schema definition for all date or timestamp values.  Serialized as a string, the field should follow the rules of the [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) standard.
          type: string
          format: date-time
        destination:
          example: copy-to
          type: string
          enum:
          - modify-to
          - set-to
          - copy-to
          - move-to
          - save-to
          - restore-point
          - report-to
      additionalProperties: false
    DeliberateEnvelopedObserveBundleDataDataVerdicts:
      type: object
      properties:
        count:
          type: number
          format: double
        docs:
          type: array
          items:
            $ref: '#/components/schemas/Verdict'
          uniqueItems: true
      additionalProperties: false
      required:
      - count
      - docs
    ModeOfIntroduction:
      example:
        phase: Architecture and Design
        note: string
      type: object
      properties:
        phase:
          example: Architecture and Design
          description: Identifies the point in the software life cycle at which the weakness may be introduced.
          type: string
        note:
          example: string
          description: Provides a typical scenario related to introduction during the given phase.
          type: string
      additionalProperties: false
      required:
      - phase
    Configurations:
      example:
        CVE_data_version: string
        nodes:
        - operator: AND
          cpe_match:
          - vulnerable: true
            cpe23Uri: string
            versionStartIncluding: string
            versionEndIncluding: string
            versionStartExcluding: string
            versionEndExcluding: string
          children:
          - operator: AND
            cpe_match:
            - vulnerable: true
              cpe23Uri: string
              versionStartIncluding: string
              versionEndIncluding: string
              versionStartExcluding: string
              versionEndExcluding: string
            negate: true
          negate: true
      description: "Represents a list of affected versions or configurations of a software component that is impacted by a vulnerability. \nBy tracking the affected software components and versions, defenders can identify which systems are potentially exposed to an attack, and apply appropriate mitigations."
      type: object
      properties:
        CVE_data_version:
          example: string
          description: Specifies the version of the CVE (Common Vulnerabilities and Exposures) dictionary used by the vulnerability information provider.
          type: string
        nodes:
          example:
          - operator: AND
            cpe_match:
            - vulnerable: true
              cpe23Uri: string
              versionStartIncluding: string
              versionEndIncluding: string
              versionStartExcluding: string
              versionEndExcluding: string
            children:
            - operator: AND
              cpe_match:
              - vulnerable: true
                cpe23Uri: string
                versionStartIncluding: string
                versionEndIncluding: string
                versionStartExcluding: string
                versionEndExcluding: string
              negate: true
            negate: true
          description: Each `node` in the CTIM standard configuration includes information such as the `operator` (such as "less than", or "greater than or equal to"), and the `cpe` (Common Platform Enumeration) string which identifies the specific software, `CPE` is a structured naming scheme for IT systems, platforms, and software packages, and it is instrumental in enabling data exchange between different systems.
          type: array
          items:
            $ref: '#/components/schemas/CPENode'
      additionalProperties: false
      required:
      - CVE_data_version
      - nodes
    Traffic:
      example:
        destination_host_name: string
        protocol: 10
        source_ip: string
        destination_subnet: string
        destination_ip: string
        source_subnet: string
        destination_port: 10
        direction: incoming
        source_port: 10
      type: object
      properties:
        destination_host_name:
          example: string
          type: string
        protocol:
          example: 10
          description: The IP [protocol id](https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml)
          type: integer
          format: int64
        source_ip:
          example: string
          type: string
        destination_subnet:
          example: string
          type: string
        destination_ip:
          example: string
          type: string
        source_subnet:
          example: string
          type: string
        destination_port:
          example: 10
          type: integer
          format: int64
        direction:
          example: incoming
          type: string
          enum:
          - incoming
          - outgoing
        source_port:
          example: 10
[...]
